.page {
  :global {
    // 因为 global.less 中设置了 .ant-typography
    .ant-typography {
      margin-bottom: 1em !important;
    }
  }
}

.stepContainer {
  background-color: #fff;
  width: 1306px;
  margin: 0 auto;
  padding: 40px 0 30px 0;
}

.breadcrumbs {
  font-size: 12px;
  margin: 16px 0;
}

.icon {
  font-size: 10px;
  color: #ccc;
  margin: 0 10px;
  transform: rotate(-90deg);
}

.Form {
  width: 730px;
  margin: 0 auto;
}

.stepsContent {
  margin: 30px 0 20px 0;
}

.hide {
  display: none;
}

.stepTitle {
  position: relative;
  margin: 20px 0;
  font-size: 19px;
  padding-left: 20px;
  color: @heading-color;

  i {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid #666;
    border-radius: 50%;
    top: 7px;
    left: 0;
    box-sizing: border-box;

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      background: #666;
      border-radius: 50%;
      top: 2px;
      left: 2px;
    }
  }
}

.stepContent {
  :global(label) {
    font-size: @font-size-lg;
  }
}

.inputContainer {
  margin-top: 30px;

  input {
    width: 540px;
  }
}

.copyBtn {
  border-radius: 10px;
  margin-left: 10px;
}

.siteName {
  display: inline-block;
  width: 4em;
  text-align-last: justify;
}

.stepsActionBtns {
  text-align: center;

  .prevBtn {
    margin: 0 50px;
  }
}

.title {
  color: @heading-color;
}
