.b2b {
  margin: 20px 30px 0;
  background-color: #fff;
  border-radius: @border-radius-base;

  p {
    padding: 0;
    margin: 0;
  }

  > header.head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
    }

    .rangeDate {
      width: 280px;
      margin-left: 20px;
    }
  }

  .lineChart {
    height: 500px;
    padding-top: 32px;
    position: relative;

    header {
      height: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 50px 0 0;
      position: absolute;
      z-index: 99;
      right: 0;
    }
  }
}
