.page {
  position: relative;
  margin-top: 44px;
  padding: 60px 170px;
  background: #fff;

  .crumbs {
    position: absolute;
    top: -32px;
    left: 0;
  }

  .tableToolBar {
    display: flex;
    flex-direction: column;
    margin-bottom: -46px;

    .optionItem {
      margin-bottom: 20px;

      & > span:first-child {
        display: inline-block;
        width: 130px;
      }
    }
  }

  .timeSelectContainer {
    margin-left: 130px;
  }

  .separator {
    font-size: 10px;
    color: #ccc;
    transform: rotate(-90deg);
    margin: 0 6px;
  }

  .Switch {
    transform: scale(0.818);
  }

  .btns {
    text-align: center;
    margin-top: 30px;

    button {
      margin: 0 10px;
    }
  }
}
