header.monitor_toolbar {
  background-color: #fff;
  display: grid;
  grid-auto-columns: repeat(auto-fill, 343px);
  grid-template-columns: repeat;
  grid-template-columns: repeat(auto-fill, 343px);
  column-gap: min(115px);

  > div {
    width: 343px;
    padding: 20px 0 0 0;

    // 文本
    span.text {
      min-width: 62px;
      display: inline-block;
      color: @text-color;
    }

    // 横线
    span.line {
      width: 10px;
      display: inline-block;
      border-bottom: 1px solid #979797;
      margin: 0 6px;
      position: relative;
      top: -4px;
    }
  }

  input,
  button {
    height: 30px;
  }

  // 第一个div
  .layout_one_div {
    display: flex;
    margin: 3px 0 0;

    :global(.ant-checkbox-group) {
      white-space: nowrap;

      label {
        margin-right: 5px;
      }
    }
  }

  // 第二个div
  .layout_two_div {
    display: flex;
    line-height: 30px;
    // margin: 0 115px 0 100px;

    :global(.ant-input-affix-wrapper) {
      width: 280px;
      padding-top: 0;
      padding-bottom: 0;
    }

    input {
      width: 280px;
    }
  }

  // 回复
  .layout_three_div {
    .other {
      padding-left: 40px;
    }
  }

  // 第四个div
  .layout_four_div {
    input {
      width: 128px;
      text-align: center;
    }
  }

  // 第五个div
  .layout_five_div {
    :global(.ant-picker) {
      width: 280px;
      height: 30px;
    }
  }

  // 第六个
  .layout_six_div {
    display: flex;

    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    :global(.ant-radio + *) {
      padding-right: 0;
    }

    :global(.ant-radio-wrapper) {
      margin-right: 0;
    }
  }

  // 第七个
  .layout_seven_div {
    display: flex;

    span.text {
      min-width: 72px;
      line-height: 30px;
      margin: 0 0 0 -11px;
    }

    :global(.ant-input-affix-wrapper) {
      width: 280px;
      padding-top: 0;
      padding-bottom: 0;
    }

    :global(.ant-input-suffix) {
      margin-left: -26px;
      position: relative;
      z-index: 2;
    }

    input {
      width: 260px;
      flex: 0 0 auto;
      position: relative;
    }
  }

  // 第八个
  .layout_eight_div {
    .text {
      line-height: 24px;
      position: relative;
      left: -11px;
    }

    input {
      width: 128px;
      flex: 0 0 auto;
      text-align: center;
    }
  }

  .btns {
    text-align: right;
    padding: 7px 0 0 0;

    button {
      margin-left: 20px;
    }
  }

  // 工具栏有大小屏
  @media screen and (max-width: 1800px) {
    padding: 0 20px;
    column-gap: 80px;

    .btns {
      margin-top: -37px;
    }

    .empty {
      width: 0;
    }

    .layout_eight_div .text {
      left: 0;
    }

    .layout_four_div .text {
      position: relative;
      left: -10px;
    }

    .ayout_six_div {
      margin-top: 3px;
    }
  }

  @media screen and (min-width: 1799px) {
    padding: 0 50px 20px;

    .btns {
      margin-top: 0;
    }

    .empty {
      width: 343px;
    }
  }
}
