.chartsContainer {
  margin: 0 20px;
}

.tableContainer {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1100px;

  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      padding: 4px;
    }
  }
}
