.regSuccess {
  text-align: center;
  color: @text-color;
  padding-top: 185px;

  .info {
    font-size: 20px;
    display: flex;
    align-items: center;

    img {
      max-width: 20px;
      max-height: 20px;
    }

    .emailInfo {
      margin-left: 12px;
    }

    a {
      color: #0083ff;
    }
  }

  .send {
    font-size: @font-size-lg;
    margin-top: 140px;

    .resent {
      color: #0083ff;
      cursor: pointer;
    }

    .countDown {
      color: #b3b3b3;
    }
  }
}
