// 广告管理下的公共样式

.adManageContainer {
  // 表格操作栏的按钮
  .tableOperationBtn {
    color: @btn-text-color;
    font-size: @font-size-sm;
    min-width: 30px;
    padding: 3px;

    &:hover {
      color: @link-color;
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

// 头部工具栏（搜索、高级筛选等）
.head {
  display: flex;
  margin-bottom: 14px;
  padding: 0 20px;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

// 头部工具栏下拉框
.headSelectDropdown * {
  font-size: @font-size-base;
}

// 高级筛选按钮
.btnFiltrate {
  :global(.anticon) {
    font-size: @font-size-sm;
  }
}

// 表格操作工具栏（表格上方的批量操作、自定义列等）
.tableToolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 20px;

  & > div {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// 展开图标
.iconZhankai {
  transform: rotate(-90deg);
  font-size: 11px;
  vertical-align: baseline;
}

// 批量设置状态
.batchState {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    margin-right: 6px;
  }

  & > div {
    margin-left: 24px;

    button {
      margin-right: 14px;
    }
  }

  &.disabled button {
    pointer-events: none;
    color: @text-color-disabled;
  }
}

// 表头疑问图标
.iconQuestion {
  cursor: help;
  margin-left: 4px;
  color: @text-color-secondary;

  &:hover {
    color: @warning-color;
  }
}

// 二次确认弹窗
.modalConfirm {
  :global {
    .ant-modal-confirm-btns button + button {
      margin-left: 20px;
    }
  }

  .warnIcon {
    margin-right: 10px;
    color: @text-color-warning;
  }
}

// break-all 换行
.breakAll {
  word-break: break-all;
}

// 颜色
.green {
  color: @success-color;
}

.red {
  color: @error-color;
}

.selectDropdown * {
  font-size: @font-size-base;
}

// 周期日期选择器
.DefinedCalendar {
  width: 280px;
}

// 添加XXX弹窗
.addModal {
  :global {
    // 表格
    .ant-table {
      border: 1px solid @divider-line-color;
      margin-top: 10px;

      .ant-table-thead > tr > th {
        background-color: @simple-table-header-bg;
        padding: 12px 8px;
      }

      .ant-table-tbody > tr > td {
        padding: 12px 8px;
      }

      .ant-btn {
        min-width: 30px;
        padding: 0;
      }
    }
  }

  .addModalTitle {
    margin-bottom: 20px;
    text-align: left;
    font-size: @font-size-lg;
    color: @heading-color;
  }

  .addModalContent {
    text-align: left;
  }

  .addSelectContainer {
    margin-bottom: 12px;

    & > * {
      margin-right: 20px;
    }

    .addSelect {
      width: 280px;
    }
  }

  .addTableContainer {
    display: flex;
    justify-content: space-between;
  }

  button {
    font-size: @font-size-sm;
  }

  .selectBtn {
    color: @btn-text-color;

    &:hover {
      color: @link-color;
    }
  }

  .deleteBtn {
    color: #ff000d;

    &:hover {
      color: @error-color;
    }
  }

  .addModalfooter {
    text-align: center;
    margin-top: 12px;

    button {
      margin: 0 10px;
    }
  }
}
