.page {
  display: flex;
  height: calc(100vh - 66px);
  margin-top: 12px;

  .Sider {
    overflow-x: hidden;
    overflow-y: auto;
    background: #f8f8f8;
  }

  .Tree {
    font-size: @font-size-sm;
    width: 100%;
    padding: 17px 8px 0 8px;
    border-radius: 0;
    overflow: auto;
    background: #f8f8f8;

    :global {
      // 点击范围加宽
      .ant-tree-treenode,
      .ant-tree-node-content-wrapper {
        width: 100%;
      }
    }
  }

  .treeIcon {
    color: @text-color-secondary;
  }

  .rootTitle {
    color: #444;
    font-weight: bold;
  }

  .switcherIcon {
    transform: rotate(90deg);
  }

  .triggerContainer {
    z-index: 1;
    position: absolute;
    left: -1px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-right: 1px solid #d9d9d9;
    background: #fff;

    &.triggerMove {
      top: 30px;
    }
  }

  .trigger {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: @heading-color;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
    cursor: pointer;

    &:hover {
      color: @primary-color;
      border-color: @primary-color;
      transition: all 0.3s;
    }

    &.triggerActive {
      background: @primary-color;
      border-color: @primary-color;
      color: #fff;
    }
  }

  .tabsTitle {
    font-size: @font-size-lg;
    font-weight: normal;

    span {
      font-size: @font-size-sm;
      color: @text-color-secondary;
    }
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;

    .breadcrumbBtn {
      font-size: 12px;
      color: @link-color;
      cursor: pointer;
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:last-child {
        color: @text-color;
        cursor: auto;
      }
    }

    .breadcrumbSeparator {
      font-size: 10px;
      color: #ccc;
      transform: rotate(-90deg);
      margin: 0 6px;
    }
  }

  :global {
    // 隐藏 Sider 本身的 trigger
    .ant-layout-sider-zero-width-trigger {
      display: none;
    }

    // 标签样式覆盖
    .ant-tabs > .ant-tabs-nav {
      padding: 0 20px 0 60px;
    }

    .ant-tabs-tab {
      margin: 0 24px 0 0;
      padding: 8px 0;
    }

    // sider-trigger 样式覆盖
    .ant-layout-sider-trigger {
      height: 30px;
      line-height: 30px;
      background: @simple-table-header-bg;
      border-top: 1px solid @border-color-base;
    }

    // tree 覆盖
    .ant-tree {
      .ant-tree-switcher {
        width: 14px;
      }

      .ant-tree-title {
        word-break: break-all;
      }

      .ant-tree-node-content-wrapper {
        &:hover {
          background: #ebebeb;
        }

        &.ant-tree-iconEle {
          width: 18px;
        }
      }
    }
  }
}

.updateTime {
  font-size: @font-size-sm;
}

.hide {
  display: none;
  opacity: 0;
  transition: opacity 2s;
  pointer-events: none;
}

.tabsContainer {
  position: relative;
  width: 100%;
  overflow: auto;
  background: #fff;

  &.tabsContainerShowTree > :global.ant-tabs.ant-tabs-top {
    border-left: 1px solid @border-color-base;
  }
}

.iconEnabled {
  color: @success-color;
}

.iconPaused {
  color: @error-color;
}

.iconArchived {
  color: @text-color-disabled;
}
