.page {
  position: relative;

  .disabled {
    color: @text-color-disabled;
  }

  .Switch {
    transform: scale(0.818);
  }

  .goodsInfoContainer {
    display: flex;
    align-items: center;
  }

  .goodsInfoContent {
    margin-left: 10px;
    text-align: left;
    width: 240px;
  }

  .iconContainer > span {
    margin-right: 6px;
  }

  .goodsTitle {
    margin-bottom: 0;
    color: @link-color;

    &:hover > span {
      color: @link-color;
    }
  }

  .sellNum {
    float: right;
  }

  .selectThTitle {
    padding-left: 6px;
  }

  .darkRow td {
    background-color: #fafafa;
  }

  .Text-FBA {
    color: @warning-color;
  }

  .Text-FBM {
    color: @text-color-up;
  }

  .up {
    color: @text-color-up;
  }

  .down {
    color: @text-color-down;
  }

  .ranking {
    cursor: pointer;
    color: @warning-color;
  }

  .options,
  .asin {
    color: @btn-text-color;

    a {
      color: @btn-text-color;

      &:hover {
        color: @primary-color;
      }
    }

    .optionsItem {
      cursor: pointer;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 14px;

    .iconExample {
      margin-right: 100px;

      & > span {
        margin: 0 10px;
        white-space: nowrap;
      }
    }

    ul {
      white-space: nowrap;
    }
  }

  :global {
    .ant-btn {
      min-width: 40px;
    }

    .ant-table-container,
    .ant-select {
      font-size: @font-size-sm;
    }

    .ant-table-container {
      border: 1px solid @divider-line-color;
    }

    .ant-table-tbody td,
    .ant-table-thead th {
      border: none;
    }

    .ant-checkbox {
      transform: scale(0.875);
    }
  }
}

.SelectDropdown {
  max-width: 240px;
  // min-width: 200px;

  * {
    font-size: @font-size-sm;
  }

  :global(.ant-select-item-option-content) {
    white-space: normal;
  }
}

.tableAddGroup {
  padding: 6px 12px;
  height: 100px;
  margin-top: 16px;

  .tableAddGroupTitle {
    text-align: left;
    color: @heading-color;
    margin: 0 2px;
  }

  input {
    border: none;
    padding: 0 2px;

    &:focus {
      box-shadow: none;
    }
  }

  :global {
    .ant-input-search {
      margin: 10px 0;
      border-bottom: 1px solid @border-color-base;
    }

    .ant-input-group-addon {
      position: absolute;
      top: 32px;
      left: 0;

      button {
        border-radius: 4px !important;
        color: @primary-color;
        background-color: #fff;
      }
    }
  }
}

// 表格中的分组和调价规则下拉框样式修改
.page .tableSelect {
  display: flex;
  // justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100px;

  :global {
    .ant-select-arrow {
      position: relative;
      margin: 0;
    }

    .ant-select-selection-item {
      padding-right: 7px;
    }

    .ant-select-selector {
      width: auto !important;
      max-width: 100%;
      padding: 0 7px !important;

      .ant-select-selection-item {
        padding-right: 6px !important;
      }
    }
  }
}

// 自定义排序
.sortMenuBtn {
  display: block;
  cursor: pointer;
}

// 下拉菜单（操作栏）
.titleMenu li {
  font-size: @font-size-sm;
}

.sku {
  max-width: 140px;
  margin-bottom: 2px;
}
