.box {
  padding: 20px 20px 0;
  background-color: #fff;

  tbody tr:not(:first-child) td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  :global {
    .ant-table-body {
      border: 1px solid @divider-line-color;
      border-top: none !important;
    }

    .ant-table-empty td,
    .ant-table-expanded-row-fixed {
      padding: 0 !important;
      margin: 0;
    }
  }

  tr:nth-child(odd) td {
    background-color: @simple-table-header-bg;
  }
}

.topHead {
  margin-bottom: 20px;

  button {
    width: 116px;
    margin-right: 20px;
  }

  .batch {
    width: 136px;
  }

  .search {
    width: auto !important;
  }
}

.skuCol {
  white-space: pre-wrap;
  word-break: break-all;
}

.imgCol {
  margin: 0 auto;
}

.packVolume {
  .oversize {
    color: @text-color-secondary;
  }
}

.bedNumberCol {
  white-space: pre-wrap;
  word-break: break-all;

  .text {
    white-space: nowrap;
  }
}

.batchRelevanceBtn {
  width: 136px !important;
}

.batchRelevanceBox {
  width: 366px;

  :global {
    .ant-popover-title {
      height: 68px;
      line-height: 68px;
      font-size: @font-size-lg;
      font-weight: 600;
    }

    .ant-upload-list-item-info {
      margin: 0 19px 0 65px;
    }
  }

  .content {
    //display: flex;
    position: relative;
  }

  .notFile {
    padding: 8px 0 0 68px;
    color: @text-color-secondary;
    font-size: @font-size-sm;
  }

  .rightLayout {
    padding-top: 5px;
    position: absolute;
    right: 100px;
    top: 0;
  }

  .footer {
    text-align: center;
    margin-top: 30px;

    button {
      margin: 0 8px;
    }
  }
}

.repeateskumodal {
  :global {
    .ant-modal-body {
      padding: 20px;
      text-align: left;
      height: 440px;
    }

    .ant-modal-close {
      :hover {
        color: @error-color;
      }
    }

    .ant-space-vertical {
      margin-top: 10px;
    }

    .ant-modal-footer {
      text-align: center;
      border-top: 0;
      padding: 0 16px 20px 16px;
    }

    .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 20px;
    }
  }

  .span {
    font-size: 14px;
    line-height: 19px;
    color: @heading-color;
  }

  .table {
    margin: 14px 0;
    height: 264px;

    th {
      height: 44px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background-color: #f3f3f3 !important;
    }

    tr:hover td {
      background-color: @simple-table-header-bg !important;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    :global {
      .ant-table-body {
        border: 1px solid @divider-line-color;
        border-top: 0;
        overflow-y: auto !important;
      }

      .ant-table-tbody > tr > td {
        padding: 13px 16px;
      }
    }
  }

  .handleCol {
    color: @error-color;
    cursor: pointer;

    &:hover {
      color: #ff000d;
    }
  }
}

.clus {
  font-size: 16px;
  font-weight: bold;
  color: @heading-color;
  line-height: 21px;
  margin-bottom: 16px;
}

.num {
  color: #0083ff;
}

.showcovermodal {
  :global {
    .ant-modal-body {
      padding: 20px;
      text-align: left;
    }

    .ant-modal-close {
      :hover {
        color: @error-color;
      }
    }

    .ant-modal-footer {
      text-align: center;
      border-top: 0;
      //padding: 0 16px 20px 16px;
    }

    .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 20px;
    }
  }

  .span {
    font-size: 14px;
    line-height: 19px;
    color: @heading-color;
  }

  .table {
    margin: 14px 0;
    height: 264px;

    th {
      height: 44px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background-color: #f3f3f3 !important;
    }

    tr:hover td {
      background-color: @simple-table-header-bg !important;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    :global {
      .ant-table-body {
        border: 1px solid @divider-line-color;
        border-top: 0;
        overflow-y: auto !important;
      }

      .ant-table-tbody > tr > td {
        padding: 13px 16px;
      }
    }
  }

  .handleCol {
    color: @error-color;
    cursor: pointer;

    &:hover {
      color: #ff000d;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
  }
}

.errorBox {
  text-align: left;
}

.batchState {
  padding-top: 15px;

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  footer {
    margin: 15px 0 0;
    text-align: center;

    button {
      margin: 0 8px;
    }
  }
}

.delModalContent {
  max-height: 200px;
  overflow: auto;
}

.operation {
  display: flex;
  justify-content: space-around;

  .delete {
    color: @error-color;
    cursor: pointer;

    &:hover {
      color: #ff000d;
    }
  }
}

.span {
  color: #ff000d;
  font-size: 8px !important;
}
