.productSelect {
  padding: 20px 15px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;

  .layoutLeft,
  .layoutRight {
    width: 50%;
    min-width: 540px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 30px;
      margin-bottom: 10px;

      :global(.ant-input-group-addon) {
        background-color: @primary-color;
      }
    }

    .table {
      :global(.ant-table-body) {
        overflow-y: auto !important;
        height: 320px;
        border: 1px solid #e5e5e5;
      }

      :global(.ant-table-placeholder td) {
        border-bottom: 0 !important;
      }

      tr:hover td {
        background-color: @simple-table-header-bg !important;
      }

      th {
        height: 44px;
        padding-top: 0;
        padding-bottom: 0;
        color: @heading-color;
        background-color: #f3f3f3;
      }

      td {
        padding: 7px 16px 5px;
      }

      .productCol {
        display: flex;
        width: 290px;
        text-align: left;

        .details {
          width: 235px;
          margin-left: 10px;

          .title {
            width: inherit;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .linkIcon {
              color: @text-color-secondary;
              margin-right: 2px;
            }

            &:hover .linkIcon {
              color: @primary-color;
            }
          }
        }

        .info {
          .asin {
            width: 115px;
            color: @btn-text-color;
            display: inline-block;

            &:hover {
              color: @link-color;
            }
          }

          .ranking {
            color: @text-color-secondary;
            display: inline-block;

            .score {
              color: @warning-color;
            }
          }

          .price {
            color: @error-color;
            float: right;
          }
        }
      }
    }
  }

  .layoutLeft {
    margin-right: 17px;

    .allSelect {
      color: @btn-text-color;
      transition: all 0.3s;
      padding-right: 20px;
      cursor: pointer;

      &:hover {
        color: @link-color;
      }
    }

    .allSelect.disable {
      cursor: not-allowed;
      color: @text-color-secondary;
    }

    .handleCol {
      color: @btn-text-color;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: @link-color;
      }
    }

    .handleCol.selected {
      color: #bbb;
      cursor: not-allowed;
    }
  }

  .layoutRight {
    margin-left: 17px;
    color: @heading-color;

    .delSelect {
      color: @error-color;
      transition: all 0.3s;
      padding-right: 20px;
      cursor: pointer;

      &:hover {
        color: #f00;
      }
    }

    .delSelect.disable {
      cursor: not-allowed;
      color: @text-color-secondary;
    }

    .handleCol {
      color: @error-color;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: #f00;
      }
    }
  }
}
