.customColumnContainer {
  background-color: #fff;
  padding: 8px 20px;
  box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);
}

:global {
  .ant-checkbox {
    transform: scale(0.875);
  }
}
