.search_container {
  width: 280px;

  .search_input {
    :global {
      .ant-btn {
        min-width: 40px !important;
        width: 40px;
        padding: 0;
      }
    }
  }

  .icon_sousuo {
    font-size: 20px;
    margin-top: 5px;
  }
}

.not_select_table {
  text-align: right;
}

.selected_table {
  margin-top: 16px;
  text-align: right;
}

.all_button {
  cursor: pointer;
}

.select_button {
  &:hover {
    color: @link-color;
  }
}

.remove_button {
  &:hover {
    color: @error-color;
  }
}

.select_yes {
  color: @btn-text-color;
  cursor: pointer;

  &:hover {
    color: @link-color;
  }
}

.select_already {
  color: #bbb;
}

.select_no {
  color: @error-color;

  &:hover {
    color: #ff000d;
  }
}

.selected_table_bar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 6px;
}

.select_keywords {
  display: flex;

  .select_textarea {
    width: 400px;
    height: 219px;
  }

  & > div {
    flex: 1;
    line-height: 219px;
    text-align: center;

    span {
      cursor: pointer;
      color: @link-color;

      &:hover {
        color: @btn-text-color;
      }
    }
  }
}
