.optionsUl {
  position: absolute;
  background-color: #fff;
  border: 1px solid @border-color-base;
  border-radius: @border-radius-base;
  padding: 10px 0;
  width: 100%;

  li {
    &:hover {
      background-color: #f1f4f7;
    }

    a {
      display: block;
      cursor: pointer;
      padding: 0 20px;
      line-height: @li-line-height-base;
    }

    span {
      display: inline-block;
      vertical-align: bottom;
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
