.search_container {
  width: 280px;

  .search_input {
    :global {
      .ant-btn {
        min-width: 40px !important;
        width: 40px;
        padding: 0;
      }
    }
  }

  .icon_sousuo {
    font-size: 20px;
    margin-top: 5px;
  }
}

.suggest_container {
  height: 301px;
}

.select_keywords {
  margin-top: 41px;
  text-align: center;

  .select_textarea {
    width: 424px;
    height: 216px;
  }

  .__select {
    margin-top: 14px;
  }
}

.not_select_table {
  text-align: right;
  margin-top: -4px;

  .select_button {
    color: @btn-text-color;
    text-align: right;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: @link-color;
    }
  }
}
