.Header {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(30, 72, 130, 0.1);

  .logo {
    vertical-align: sub;
  }

  .Menu {
    flex: 1;
    margin-left: 30px;
    font-size: 16px;

    .MenuItem {
      padding: 0 14px;

      &:hover {
        background-color: #eaf5ff;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

.Content {
  padding: 0 30px;
  position: relative;

  .breadcrumbs {
    .title {
      font-size: @font-size-lg;
      border-left: 4px solid @primary-color;
      line-height: @font-size-lg;
      padding-left: 8px;
      margin: 16px 0;
    }
  }
}

.subMenu {
  text-align: center;
  padding: 5px 20px;
}
