.Header {
  display: flex;
  box-shadow: 0 0 8px 0 rgba(216, 216, 216, 0.75);

  .logo {
    vertical-align: sub;
  }

  .Menu {
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    border-bottom: none;

    :global {
      .ant-menu-item-active {
        border-bottom: none;
        background: #eaf5ff;
      }
    }

    .MenuItem {
      margin: 0;
      top: 0;
      line-height: @layout-header-height;
      height: @layout-header-height;

      &:hover {
        background-color: #eaf5ff;
        border-bottom: 2px solid transparent;
      }

      a {
        display: inline-block;
        // 因为下拉框默认和菜单有 4px 间隙
        line-height: 44px;
        padding: 0 16px;
      }
    }
  }
}

.Content {
  padding: 0 30px;
  position: relative;

  .breadcrumbs {
    .title {
      font-size: @font-size-lg;
      border-left: 4px solid @primary-color;
      line-height: @font-size-lg;
      padding-left: 8px;
      margin: 16px 0;
    }
  }
}

.subMenu {
  font-size: @font-size-lg;
  padding: 6px 18px;
}

.overlay {
  :global {
    .ant-dropdown-menu {
      border-radius: 0;
      box-shadow: -5px 5px 10px -4px rgba(216, 216, 216, 0.75), 5px 5px 10px -4px rgba(216, 216, 216, 0.75);
    }
  }
}
