.search_header_container {
  padding: 20px;
  border-bottom: 1px solid #eee;

  .search_container {
    width: 360px;
    float: left;

    .icon_sousuo {
      font-size: 20px;
      margin-top: 5px;
    }

    :global {
      .__search_input {
        .ant-btn {
          min-width: 40px !important;
          width: 40px;
          padding: 0;
        }
      }
    }
  }

  .source {
    float: left;
    margin-left: 10px;

    .font_source {
      font-size: 14px;
      color: #333;
    }

    :global {
      .ant-radio-wrapper {
        margin-right: 0 !important;
      }
    }
  }

  .calendar {
    float: right;
  }
}

@media screen and (min-width: 1600px) {
  .search_header_container {
    .source1 {
      margin-left: 40px;
    }

    .source2 {
      margin-left: 30px;
    }
  }
}
