.container {
  text-align: left;
  padding: 16px 20px;
  border-bottom: 1px solid @divider-line-color;
  font-size: 12px;
}

.separator {
  font-size: 10px;
  color: #ccc;
  transform: rotate(-90deg);
  margin: 0 6px;
}
