.CardIcon {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 6px;
  cursor: move;
}

.cardListContainer {
  display: flex;
  flex-wrap: wrap;

  .card {
    margin: 0 20px 20px 0;
  }

  @media (min-width: 1400px) and (max-width: 1919px) {
    & {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 33% 33% 33%;
      grid-row-gap: 10px;
      grid-column-gap: 10px;

      .card {
        width: 100%;
        margin: 0;
      }
    }
  }

  @media (width: 1920px) {
    & {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 450px 450px 450px 450px;
      grid-row-gap: 15px;
      grid-column-gap: 10px;

      .card {
        width: 450px;
        margin: 0;
      }
    }
  }

  @media (min-width: 1921px) and (max-width: 2560px) {
    & {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
      grid-row-gap: 15px;
      grid-column-gap: 10px;

      .card {
        width: 100%;
        margin: 0;
      }
    }
  }
}
