.ant-table-body {
  border-bottom: 1px solid @divider-line-color;
  overflow-y: auto !important;
}

.ant-picker-ok {
  font-size: @font-size-sm;

  button {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
  }
}

ul.ant-picker-time-panel-column {
  overflow-y: auto;

  &::-webkit-scrollbar { /* 滚动条整体样式 */
    width: 10px;    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {/* 滚动条里面小方块 */
    width: 10px;
    height: 30px;
    background: #c1c1c1;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-track { /* 滚动条里面轨道 */
    background: #f1f1f1;
  }
}
