.monitor {
  background-color: #fff;
  border-radius: @border-radius-base;
  position: relative;

  header.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .leftLayout {
      display: flex;

      .select {
        width: 126px;
        margin-left: 10px;
        margin-right: 0;
      }
    }

    .btns {
      display: flex;

      button {
        margin-left: 20px;
      }
    }
  }

  > footer {
    padding: 10px 20px 10px;
  }
}

// 表格
.table {
  padding: 0 20px;

  div:global(.ant-table) {
    font-size: @font-size-sm !important;
  }

  div:global(.ant-table-container) {
    border-right: 1px  solid #f0f0f0 !important;
  }

  thead th {
    border: 0 !important;
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f7f7f7;
    // border: 1px solid #000;
  }

  tbody td {
    border-left: none !important;
    border-right: none !important;
    height: 66px;
    padding-top: 0;
    padding-bottom: 0;
  }

  tbody tr:hover td {
    background-color: #fafafa !important;
  }

  // 商品列
  .product_col {
    display: flex;
    min-width: 433px;
    align-items: center;

    .img {
      width: 46px;
      height: 46px;
    }

    .details {
      width: 100%;
      margin-left: 10px;

      .icon {
        color: #666;
        font-size: @font-size-sm;
        margin-right: 2px;
        display: inline-block;
      }

      a.title {
        min-width: 220px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        text-align: left;
        word-break: break-all;

        &:hover .icon {
          color: @primary-color;
        }
      }

      footer {
        display: flex;
        justify-content: space-between;

        .price {
          color: @error-color;
          padding-right: 10px;
          border-right: 1px solid @border-color-base;
          height: 10px;
          line-height: 10px;
          display: inline-block;
        }
      }
    }
  }

  .history {
    cursor: pointer;
    color: #09c2a6;

    &:hover {
      color: #009881;
    }
  }
}

// 监控频率
.frequency {
  padding-bottom: 15px;

  li {
    background-color: transparent !important;
  }

  h2 {
    padding: 15px;
    font-size: @font-size-lg;
  }

  .rangetime {
    margin: 0 0 10px 19px;
  }

  .radioItem {
    display: block;
    height: 31px;
    line-height: 31px;

    strong {
      color: @text-color;
      font-weight: normal;
    }

    span {
      color: @text-color-secondary;
    }
  }

  .foot_btns {
    margin-top: 20px;

    button.btn {
      margin-left: 20px;
    }
  }
}

// 提醒设定
.remind {
  padding: 20px;
  background: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: @border-radius-base;

  .switchRow {
    margin: 0;
    display: inline-flex;

    div:global(.ant-form-item-label) {
      order: 2;
      margin-left: 14px;
    }

    :global(.ant-switch) {
      width: 36px;
      height: 18px !important;
    }

    :global(.ant-switch-handle) {
      width: 14px;
      height: 14px;
    }

    :global(.ant-switch-small.ant-switch-checked) {
      :global(.ant-switch-handle) {
        left: calc(100% - 14px - 2px) !important;
      }
    }
  }

  .twoRow {
    display: flex;
    padding: 6px 0 30px 0;
    margin-left: 51px;

    .checkbox {
      display: flex;
      margin-bottom: 0;

      div:global(.ant-form-item-control) {
        padding-right: 15px;
      }
    }

    .inputs {
      margin-bottom: 0;

      input {
        width: 196px;
      }
    }
  }

  .threeRow {
    display: flex;
  }

  .downList {
    width: 100px;
    text-align: center;

    :global(.ant-select-arrow) {
      color: @text-color-secondary;
    }
  }

  .btns {
    margin-top: 20px;

    button {
      margin-right: 20px;
    }
  }
}

.globalDownList {
  text-align: center;
}
