@media screen and (min-width: 1800px) {
  .__index_logs {
    width: 1443px;
  }
}

@media screen and (max-width: 1799px) {
  .__index_logs {
    width: 1225px;
  }
}

.__index_logs {
  padding-top: 16px !important;
  padding-bottom: 13px !important;
  margin: 0 auto;

  span {
    a:hover {
      color: #0083ff !important;
    }
  }
}

p {
  margin-bottom: 0;
}

.updateLogs {
  width: 100%;
  height: 100%;
  background-color: #fafafa;

  .update_log {
    width: 1300px;
    margin: 0 auto;

    .update_log_container {
      background-color: #fff;
    }

    .bar {
      height: 83px;
    }
  }
}

.title {
  height: 85px;
  line-height: 85px;
  color: #1a1a1a;
  border-bottom: 1px solid #e6e6e6;
  font-size: 26px;
  font-weight: 500;
  padding-left: 21px;
  box-sizing: border-box;
}

.item {
  & + .item {
    border-top: 1px solid #e6e6e6;
  }
}

.item > p {
  color: #333;
  font-size: 20px;
  padding-top: 38px;
  padding-bottom: 16px;
}

.content {
  padding-left: 38px;
  padding-right: 38px;
}

.item_div {
  padding-bottom: 36px;
}

.item_div p {
  line-height: 30px;
  color: #666;
  font-size: 14px;
  text-align: left;
}

.item_div_list3_left {
  float: left;
  line-height: 30px;
  color: #666;
  font-size: 14px;
}

.item_div_list3_right {
  float: right;
  line-height: 30px;
  color: #666;
  font-size: 14px;
}
