.message_box {
  margin: 50px -30px 0;

  p {
    padding: 0;
    margin: 0;
  }

  .message {
    width: 1300px;
    margin: 0 auto;

    > nav {
      width: 1300px;
      margin: 14px 0;
      position: relative;

      span {
        position: absolute;
        border-left: 4px solid #2f99fd;
        padding-left: 8px;
        line-height: 16px;
        font-size: 16px;
        top: -30px;
        color: #333;
      }
    }

    > header {
      .menu {
        padding: 0 20px;
        font-size: @font-size-lg;

        li {
          display: inline-flex;
          transition: none;
          height: 57px;
          line-height: 57px;
          margin: 0 55px 0 0;
          padding: 0;
        }

        li:hover {
          border: 0;

          span.text {
            border-bottom: 2px solid;
          }
        }

        // 选中样式
        :global(.ant-menu-item-selected) {
          border-bottom: 0;

          .text {
            border-bottom: 2px solid;
          }
        }

        :global(.ant-scroll-number) {
          height: 16px;
          line-height: 16px;
          background: @error-color;
        }

        .badge {
          margin: 16px 0 0 8px;
        }
      }
    }

    main.list {
      font-size: @font-size-base;
      width: 1300px;
      min-height: 50px;
      background-color: #fff;
      max-height: calc(100vh - 225px);
      overflow-y: auto;
    }

    > footer {
      width: 1300px;
      // padding: 0 20px;
      border-top: 1px solid @divider-line-color;
      background-color: #fff;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
