// 投放资格下拉框
.qualificationSelect {
  width: 110px;
}

// 商品信息
.goodsInfoContainer {
  display: flex;
  align-items: center;

  & > * {
    line-height: 14px;
  }
}

.goodsInfoContent {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-left: 10px;
}

.goodsTitle {
  &:hover > span {
    color: @link-color;
  }
}
