.icon_back {
  font-size: 16px;
  color: #fff;
  margin-right: 6px;
}

.container {
  display: flex;
  justify-content: flex-start;

  .leftContent {
    position: relative;

    .dragBox {
      position: absolute;
      width: 5px;
      cursor: col-resize;
      height: 100%;
      top: 0;
      background-color: red;
    }
  }

  .rightContent {
    flex: 1;
  }
}

.back {
  color: @heading-color;
  text-align: left;

  span {
    font-size: 14px;
  }
}
