.text-container {
  width: 920px;
  position: relative;
  color: #0083ff;

  .content {
    display: inline-block;
    width: 100%;
    padding-right: 65px;
  }

  .hidden-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .content-btn {
    font-size: @font-size-base;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: @text-color;

    .icon {
      margin-left: 7px;
      transition: all 0.3s;
      color: @text-color-secondary;
    }

    > * {
      cursor: pointer;
    }

    // 收起样式
    .text-container-off {
      color: @primary-color;

      .icon {
        color: #0083ff;
      }
    }
  }

  .content-btn:hover {
    color: @primary-color;

    * {
      color: @primary-color;
    }
  }
}
