.snav {
  color: @text-color;
  font-size: @font-size-sm;

  .item {
    display: inline-block;
  }

  .icon {
    color: rgba(0, 0, 0, 0.1);
    margin: 0 8px;
    height: 10px;
    transform: rotate(-90deg);
  }
}
