.summary {
  color: @heading-color;
}

.title {
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.productColSummary,
.skuInfoSummary,
.parentAsinSummary {
  left: 0;
  position: sticky !important;
  background-color: #fff;
  z-index: 2;
}

// .skuInfoSummary {
//   left: 239px;
// }

// .parentAsinSummary {
//   left: 441px;
// }
