.container {
  margin-top: 20px;
  background-color: #fff;

  .header_left {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-right: 15px;
    border-bottom: 1px solid @divider-line-color;

    :global {
      .ant-menu-horizontal {
        border-bottom: none;
      }
    }

    .left_wrap {
      color: @text-color;
      font-size: 12px;
      line-height: 48px;

      span {
        color: #0dc757;
      }
    }
  }

  .autocomplete_table {
    padding-left: 20px;
    padding-right: 20px;
  }
}
