.baseBox {
  margin: 20px 30px 0;
  background-color: #fff;
  border-radius: @border-radius-base;
  font-family: "微软雅黑", sans-serif;
}

.base {
  width: 1045px;
  margin: 0 auto;
}

header.headProduct {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid @divider-line-color;
  padding: 0 0 14px;

  .productImgs {
    display: flex;

    li {
      margin-bottom: 6px;
      margin-right: 20px;

      img {
        width: 40px;
        height: 40px;
        border: 1px solid #a2a6ac;
        transition: all 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }

      &.active img {
        border: 1px solid @warning-color;
        box-shadow: 0 0 5px 1px @warning-color;
      }
    }

    .imgLg {
      width: 316px;
      height: 316px;
      margin: 0;
    }
  }

  .infos {
    margin: 0 0 0 20px;

    .title a {
      line-height: 24px;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: #0083ff;
      padding-bottom: 3;
      transition: all 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    .seller {
      color: @heading-color;
      padding: 5px 0 0;
    }

    .rate {
      display: flex;
      padding: 5px 0 6px;
      color: @heading-color;

      .num {
        color: @warning-color;
        padding: 0 18px 0 4px;
      }

      .decollator {
        color: @text-color-secondary;
        padding: 0 6px;
      }
    }

    .icons {
      padding-bottom: 18px;

      .iconItem {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .price,
    .dayPrice {
      color: @heading-color;
      padding-bottom: 5px;

      span.num {
        color: @error-color;
      }
    }

    .sellers {
      display: flex;
      color: @heading-color;

      .left {
        width: 230px;
      }

      p {
        padding-bottom: 5px;
      }
    }

    .ranking {
      display: flex;
      padding-top: 14px;
      color: @heading-color;
      // grid-template-columns: repeat(2, 230px);
      flex-wrap: wrap;

      p {
        padding-bottom: 5px;
        min-width: 230px;
        padding-right: 25px;
      }

      span.num {
        color: @warning-color;
      }
    }
  }
}

main.datas {
  > header {
    padding: 8px 0 10px;

    .text {
      color: @heading-color;
      padding-right: 10px;
    }
  }

  .box {
    display: flex;

    .profit,
    .costPrice {
      width: 50%;
      flex: auto;
    }

    h2 {
      font-size: @font-size-base;
      font-weight: bold;
      color: @heading-color;
    }

    .profit .common {
      display: flex;
      height: 30px;
      line-height: 30px;
      margin-bottom: 12px;

      label.label {
        display: flex;
      }

      .labelText {
        width: 90px;
        color: @heading-color;
      }

      .input {
        width: 82px;
        margin-left: 2px;
      }

      .placehoader {
        color: @text-color-secondary;
      }

      .icon {
        color: @text-color-secondary;
        cursor: pointer;

        &:hover {
          color: @warning-color;
        }
      }
    }

    .costPrice {
      .bar {
        width: 100%;
        height: 326px;
      }
    }

    .base {
      display: flex;
      padding-bottom: 5px;

      .text {
        width: 90px;
        color: @heading-color;
      }

      .va1 {
        color: @text-color;
      }

      .va12 {
        color: @text-color-secondary;
      }
    }
  }
}
