.down_list_box {
  width: 100%;
  position: relative;

  header {
    display: flex;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 100%;
  }

  ul {
    max-width: 530px;
    min-width: 280px;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);
    position: absolute;
    z-index: 999;
    border-radius: @border-radius-base;
    max-height: 350px;
    overflow-y: auto;

    li {
      max-width: 530px;
      min-width: 264px;
      padding: 6px 28px 6px 16px;
      line-height: @li-line-height-base;
      transition: all 0.35s;
      cursor: pointer;

      p {
        line-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p:first-child {
        color: #0083ff;
      }

      p:last-child {
        color: @text-color;
      }
    }

    li:hover {
      background: #f3f6fd;

      p:last-child {
        color: @heading-color;
      }
    }
  }
}
