// 打印样式
.printtable {
  width: 1050px;
  background: #fff;

  tr {
    width: 100%;
  }

  th,
  td {
    text-align: center;
    border: 1px solid #222;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
