.asin-b2b-line-charts-tooltip {
  background-color: #fff !important;
  box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);
  display: flex;

  .layout-div {
    padding: 10px 20px;
  }

  .layout-div2,
  .layout-div3 {
    border-left: 1px dashed #eee;
  }

  .title {
    color: @text-color-secondary;
    padding-bottom: 12px;
  }

  .sku-title {
    color: @text-color-secondary;
    padding: 4px 0;
  }

  p.data {
    color: @text-color;
  }

  .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: @primary-color;
    display: inline-block;
    margin-right: 10px;
  }

  .number {
    font-weight: 500;
    color: @heading-color;
  }
}
