.sku_list {
  line-height: 20px;

  .active {
    line-height: 20px;

    span + span {
      margin-left: 8px;
    }
  }

  .inactive {
    line-height: 20px;

    span {
      color: #ccc;
    }

    span + span {
      margin-left: 8px;
    }
  }
}
