.container {
  position: relative;
  background: #fff;
  padding: 20px;

  // 页面标题附加内容
  .pageTitleAddition {
    position: absolute;
    top: -31px;
    left: 71px;
    color: @text-color-secondary;
    font-size: @font-size-sm;
  }

  // 工具栏
  .toolBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    // 工具栏右侧
    .toolBarRight {
      display: flex;
      align-items: center;

      & > * {
        margin-left: 10px;
      }
    }

    // 周期日期选择器
    .DefinedCalendar {
      width: 280px;
    }
  }

  .Form {
    display: flex;

    & > * {
      margin-right: 10px;
      margin-bottom: 0;
    }

    .Select {
      width: 110px;
    }

    .storeNameSelect {
      width: 200px;
    }
  }

  // 环比开关
  .ratioSwitch {
    transform: scale(0.909);
  }

  // 分级表头子表头
  .onlySubTitle {
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 88%;
      height: 1px;
      top: 0;
      right: 0;
      background: #ccc;
    }
  }

  // 分级表头有两个子标头
  .leftSubTitle {
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 88%;
      height: 1px;
      top: 0;
      right: 0;
      background: #ccc;
    }

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 100%;
      right: 0;
      background: #ccc;
    }
  }

  .rightSubTitle {
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 88%;
      height: 1px;
      top: 0;
      left: 0;
      background: #ccc;
    }
  }

  .marketplaceCol {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }

  // 国旗
  .flag {
    display: block;
    flex-shrink: 0;
    background-image: url('~@/assets/nation.png');
    width: 28px;
    height: 16px;
  }

  .flag-JP {
    background-position: -37px -13px;
  }

  .flag-UK {
    background-position: -438px -13px;
  }

  .flag-US {
    background-position: -95px -13px;
  }

  .flag-CA {
    background-position: -152px -13px;
  }

  .flag-DE {
    background-position: -267px -13px;
  }

  .flag-ES {
    background-position: -324px -13px;
  }

  .flag-FR {
    background-position: -209px -13px;
  }

  .flag-IT {
    background-position: -381px -13px;
  }

  .storeName {
    padding: 0;
    min-width: 0;
    font-size: @font-size-sm;
  }

  .spacePlaceholder {
    height: 20px;
  }

  :global {
    // 表格
    .ant-table {
      .ant-table-thead > tr > th,
      .ant-table tfoot > tr > th,
      .ant-table tfoot > tr > td {
        padding: 1px 12px;
      }

      .ant-table-tbody > tr > td {
        padding: 8px 12px;
      }

      .ant-table-thead > tr > th {
        height: 42px;
      }

      .ant-table-column-sorters {
        padding: 0;
        user-select: none;

        & > span {
          white-space: nowrap;
        }
      }
    }

    // 合计行
    .ant-table-thead tr:last-child th {
      background: #fff;
    }
  }

  // 分级表头-双表头
  .thTwoChild {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .borderBottom {
      border-bottom: 1px solid #ccc;
    }
  }

  // 分级表头-三表头
  .thThreeChild {
    cursor: pointer;
    user-select: none;

    & > *:first-child {
      display: block;
      border-bottom: 1px solid #ccc;
    }
  }

  // 三字段 td
  .threeTdSpace {
    display: flex;
  }

  .threeChildren {
    display: flex;
    justify-content: center;

    & > * {
      width: 50%;
    }

    & > *:last-child {
      margin-left: 10px;
    }
  }

  .textRight {
    align-items: end;
    justify-content: flex-end;

    & > * {
      justify-content: flex-end;
    }
  }

  // 隐藏的数据
  .hide {
    opacity: 0;
    height: 0;
  }

  .detailBtn {
    padding: 0;
    width: 30px;
    min-width: 30px;
    font-size: @font-size-sm;
    color: @btn-text-color;

    &:hover {
      color: @link-color;
    }
  }
}
