.page {
  margin: 0 auto;
  width: 1100px;
}

.vipInfo {
  display: flex;
  align-items: center;
  padding: 30px 110px 20px 110px;
  background: linear-gradient(180deg, #ebf6ff 0%, #fff 100%);

  img {
    width: 55px;
    margin-right: 10px;
  }
}

.vipLevel {
  display: inline-block;
}

.vipName {
  transform: translateY(10px);
  color: #ca9e6e;
  font-size: @font-size-lg;
}

.remainDays {
  margin-left: 70px;
}

.remainDaysNumber {
  font-size: 24px;
  color: #01c060;
}

.title {
  color: @heading-color;
  font-size: @font-size-lg;
  margin-bottom: 10px;
}

.buyVip {
  position: relative;
  padding: 10px 110px 20px 110px;
  border-top: 1px solid #e2eaf1;
  background: #fff;
}

.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  width: 273px;
  height: 136px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  cursor: pointer;

  &.disabled {
    filter: grayscale(100%);
    cursor: wait;
  }

  &.active {
    border: 2px solid #ffaf4d;

    &::after {
      content: '';
      position: absolute;
      right: 2px;
      bottom: 7px;
      width: 14px;
      height: 8px;
      border-color: transparent transparent #fff #fff;
      border-style: solid;
      border-width: 2px;
      transform: rotate(-45deg);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 22px solid transparent;
      border-left: 22px solid #ffaf4d;
      border-bottom: 22px solid transparent;
      transform: rotate(45deg) translate(13px, 7px);
    }
  }
}

.cardTitle {
  color: @heading-color;
  font-size: 20px;
}

.price {
  span {
    color: @error-color;
    font-size: 26px;
  }
}

.originalPrice {
  color: @text-color-secondary;
  font-size: @font-size-sm;
}

.renewPage {
  width: 900px;

  .vipInfo {
    padding: 30px 162px 20px 162px;
  }

  .buyVip {
    padding: 10px 162px 20px 162px;
  }
}

.renewContainer {
  display: flex;
  justify-content: space-between;
}

.cardGroup {
  display: inline-flex;
  flex-direction: column;

  .card {
    margin-bottom: 20px;
  }
}

.upgradeContainer {
  display: flex;
  justify-content: space-between;
}

.payment {
  text-align: center;
  margin: 20px 0;
}

.secondary {
  color: @text-color-secondary;
}

.payPrice {
  font-size: @font-size-lg;
  color: @heading-color;

  .price {
    font-size: 26px;
    color: @error-color;
  }

  .secondary {
    font-size: @font-size-sm;
  }
}

.protocol {
  margin-left: -5px;
  color: @link-color;
  cursor: pointer;
}

.wePayLogo {
  width: 110px;
}

.qrCode {
  padding: 20px;
  width: 170px;
  margin: 30px auto 10px auto;
  border: 1px solid #4bb416;

  canvas {
    opacity: 0.1;
    margin: 0 auto;
  }

  &.qrCodeChecked {
    canvas {
      opacity: 1;
    }
  }
}

.agreement {
  border-radius: 4px;

  & * {
    text-align: left;
  }

  h4 {
    font-size: @font-size-lg;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 26px;
  }
}
