
.back {
  text-align: left;

  .icon_back {
    font-size: 14px;
    color: @text-color-secondary;
    margin-right: 6px;
    overflow-y: auto;
  }

  span {
    font-size: 14px;
    color: @text-color;
  }
}

.down_part {
  border: 1px solid @border-color-base;
}

.tablePadding {
  padding-left: 20px;
  padding-right: 20px;
}
