.homeContainer {
  margin-top: 70px;
  text-align: center;
  font-size: @font-size-lg;

  .w {
    margin: 0 auto;

    .part1 {
      padding-top: 95px;
      padding-bottom: 45px;
      display: flex;
      justify-content: space-around;

      .left {
        width: 288px;
        text-align: left;

        .title {
          color: #1a1a1a;
          font-size: 50px;
        }

        .desc {
          font-size: 16px;
          color: @text-color;
          line-height: 40px;
          text-align: left;
          margin-bottom: 55px;
        }

        .logined {
          height: 134px;
        }

        .qr {
          display: inline-block;
          margin-top: 92px;

          div {
            color: @text-color-secondary;
            font-size: 14px;
            text-align: center;
          }
        }
      }

      .right {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .w1 {
    margin: 0 auto;

    .part2 {
      .intro {
        color: #c2c2c2;
        font-size: 32px;
        text-align: center;
        padding-top: 55px;
        padding-bottom: 38px;
      }

      :global {
        .__index_tabs {
          .ant-tabs-ink-bar {
            z-index: 0;
          }

          .ant-tabs-tab {
            font-size: 18px;
            padding-bottom: 23px;

            & + .ant-tabs-tab {
              margin-left: 212px;
            }
          }
        }
      }

      .__index_tabPane {
        padding-top: 80px;
      }
    }
  }

  .grey {
    background-color: #fafafa;
  }

  .white {
    background-color: #fff;
  }

  .buttons {
    display: flex;
    align-items: center;
    width: 220px;

    & + .buttons {
      margin-top: 26px;
    }

    .font {
      width: 160px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      font-size: 18px;
      border-radius: 4px 0 0 4px;
    }

    .icon {
      height: 54px;
      line-height: 54px;
      width: 60px;
      border-radius: 0 4px 4px 0;
      text-align: center;

      .iconfont {
        font-size: 18px;
        transform: rotate(90deg);
      }
    }
  }

  .regButton {
    .font {
      background-color: @link-color;
      color: @text-color-inverse;
    }

    .icon {
      background-color: #52abff;
      color: @text-color-inverse;
    }
  }

  .loginButton {
    .font {
      color: #0083ff;
      border: 1px solid #2f99fd;
    }

    .icon {
      color: #0083ff;
      border-color: #52abff;
      border-right: 1px solid;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }
  }

  .loginedButton {
    .font {
      background-color: #309afd;
      color: @text-color-inverse;
    }

    .icon {
      color: @text-color-inverse;
      background-color: #52abff;
    }
  }
}

@media screen and (min-width: 1800px) {
  .homeContainer {
    .w {
      width: 1443px;

      .part1 {
        .left {
          padding-top: 110px;
        }

        .right {
          width: 977px;
        }
      }
    }

    .w1 {
      width: 1450px;
    }
  }
}

@media screen and (max-width: 1799px) {
  .homeContainer {
    .w {
      width: 1224px;

      .part1 {
        padding-top: 95px;

        .left {
          padding-top: 68px;
        }

        .right {
          width: 854px;
        }
      }
    }
  }
}
