.page {
  font-size: 12px;

  :global {
    .ant-table-thead > tr > th {
      background-color: @simple-table-header-bg;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    .ant-table-container {
      font-size: 12px;
    }
  }
}

.breadcrumbs {
  margin: 16px 0;
}

.icon {
  font-size: 10px;
  color: #ccc;
  margin: 0 10px;
}

.time {
  width: 100px;
  margin: 0 auto;
}

.descContainer {
  p {
    margin-bottom: 4px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.download {
  color: @btn-text-color;
}

.footer {
  position: relative;
  text-align: right;
  background: #fff;
  padding: 10px 14px;
  border-top: 1px solid #eee;
}

.total {
  position: absolute;
  left: 14px;
}
