.tableHead {
  display: inline-flex;
  justify-content: end;
  flex-direction: column;
  max-height: 44px;

  p {
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
  }

  .hint {
    color: @text-color-secondary;
    font-size: @font-size-sm;
    margin: 0 0 0 5px;
    transition: 0.3 all;

    &:hover {
      color: @warning-color;
    }
  }

  .sort {
    color: @text-color-secondary;
    transition: all 0.3s;
    font-size: @font-size-sm;
    margin-left: 5px;
  }

  .sort.active {
    transform: rotate(180deg);
  }

  .title {
    text-align: center;

    &:hover {
      background-color: #e5eef7;
      cursor: pointer;
    }
  }

  .title.sorted {
    background-color: #e5e8eb;
  }

  // 不显示环比的样式
  .title.notShowTwo {
    height: 44px;
    line-height: 44px;
  }

  .subTitle {
    border-top: 1px solid #d3d3d3;
    transition: all 0.3s;
    text-align: center;
    display: flex;

    span.text {
      width: 50%;
      flex: 0 0 auto;

      &:first-child {
        border-right: 1px solid #d3d3d3;
      }

      &:hover {
        background-color: #e5eef7;
        cursor: pointer;
      }
    }

    .text.sorted {
      background-color: #e5e8eb;
    }
  }
}
