.container {
  .checkAll {
    text-align: left;
  }

  .addStyle {
    max-height: 238px;
    overflow: auto;
  }

  .listStyle {
    max-height: 340px;
    overflow-y: auto;
  }

  .__checkboxs {
    width: 100%;

    .__checkbox {
      padding-top: 6px;
      padding-bottom: 6px;

      :global {
        .ant-checkbox + span {
          padding-right: 0;
        }
      }
    }

    .national_flag {
      display: inline-block;
      margin-right: 6px;
      width: 28px;
      height: 16px;
      background: url("~@/assets/nation.png") no-repeat;
      vertical-align: middle;

      &.JP {
        background-position: -37px -13px;
      }

      &.UK {
        background-position: -438px -13px;
      }

      &.US {
        background-position: -95px -13px;
      }

      &.CA {
        background-position: -152px -13px;
      }

      &.DE {
        background-position: -267px -13px;
      }

      &.ES {
        background-position: -324px -13px;
      }

      &.FR {
        background-position: -209px -13px;
      }

      &.IT {
        background-position: -381px -13px;
      }
    }
  }
}
