.monitor_box {
  min-width: 1300;
  // font-family: PingFangSC-Regular, sans-seri;
  
  p {
    padding: 0;
    margin: 0;
  }

  :global(.ant-checkbox) {
    width: 14px;
    height: 14px;

    + span {
      padding-left: 5px;
    }

    :global(.ant-checkbox-input) {
      width: 14px;
      height: 14px;
    }

    :global(.ant-checkbox-inner) {
      width: 14px;
      height: 14px;
    }
  }

  // tip文字
  :global(.ant-tooltip) {
    min-width: 455px;
    font-size: @font-size-sm;
  }

  :global(.ant-tooltip-inner) {
    min-width: 455px;
    background-color: #fff;
    color: @text-color;
  }

  :global(.ant-tooltip-arrow::before) {
    background-color: #fff;
  }
  
  
  .content {
    margin: 20px auto 0;
    background-color: #fff;
    min-width: 1300px;

    :global(.ant-table-row:hover) {
      border-bottom: 1px solid #D5EBFF
    }

    td {
      border-top: 1px solid transparent;
      padding: 0;
    }

    th {
      height: 44px;
      padding: 0;
    }

    tr:hover {
      td {
        background: #F4FAFF !important;
        border-bottom: 1px solid #D5EBFF;
        // border-top: 1px solid #D5EBFF;
      }
    }

    // 星级
    .star {
      font-size: 14px;
      white-space: nowrap;

      > li {
        margin-right: 6px;
      }
    }

    // 评论内容
    .commect_content  {
      a {
        max-width: 200px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal;
        font-size: 12px;
      }
    }

    // 产品信息
    .product_info {
      // display: flex;
      font-size: 12px;

      img {
        width: 46px;
        height: 46px;
        flex: 0 0 auto;
        // margin: 10px 8px;
        display: inline-block;
      }

      div {
        display: inline-block;
      }

      a {
        max-width: 200px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        text-align: left;
      }

      p {
        text-align: left;
      }
    }

    // 评分和review数量
    .reviewScore {
      span {
        color : @text-color-secondary;
      }
    }

    // 星级分布
    .start_distribute {
      :global(.ant-progress) {
        width: 100px;
      }

      .title {
        display: inline-block;
        width: 24px;
        font-size: @font-size-sm;
        flex: 0 0 auto;
        line-height: 24px;
      }
      
      .layout_one_row,
      .layout_two_row {
        display: flex;
        width: 295px;

        > div {
          display: flex;

          &:first-child {
            padding-right: 27px;
          }
        }
      }

      .layout_three_row {
        display: flex;
      }
    }

    // 操作列
    .handleBth {
      display: flex;
      flex-direction: column;

      button, a {
        width: 80px;
        height: 22px;
        line-height: 22px;
        padding: 0;
        margin: 0;
        border-radius: 11px;
        display: inline-block;
        font-size: @font-size-sm;
        margin-bottom: 11px;
        margin: 0 auto;
      }

      .handle {
        color: @success-color;
        border-color: @success-color;

        &:hover {
          color: @text-color-inverse;
          background-color: @success-color;
        }
      }

      .hasOrder {
        border: 1px solid #0083ff;
        color: #0083ff;
        transition: all .3s;

        &:hover {
          color: @text-color-inverse;
          background-color: #0083ff;
        }
      }
    }

    .page {
      padding: 20px;
    }
  }
}
