.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 14px;
  height: 94px;
  background: #fff;
  border-top: 2px solid @divider-line-color;
  cursor: pointer;

  &:hover {
    background: #f7f7f7;
  }
}

.name {
  color: #555;
}

.num {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  font-size: 22px;
  color: #333;
}

.label {
  color: #999;
}
