.page {
  margin: 0 auto;
  width: 1240px;
  padding-top: 70px;

  table {
    text-align: center;
  }

  tr {
    border: 1px solid #eee;
    line-height: 35px;

    &:hover {
      background: @simple-table-header-bg;
    }
  }

  th {
    color: @heading-color;
    font-weight: normal;
    background: #f2f6fb;
  }
}

.vipInfoContainer {
  background: linear-gradient(180deg, #ebf6ff 0%, #fff 100%);
}

.vipInfo {
  padding: 30px 44px 20px 44px;
}

.upgradeVip {
  position: relative;
  padding: 15px 44px 20px 44px;
  border-top: 1px solid #e2eaf1;

  .imgContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 138px;
    background-image: url('~@/assets/vip/diamond.png');
  }
}

.title {
  color: @heading-color;
  font-size: @font-size-lg;
  font-weight: bold;
  margin-bottom: 10px;
}

.upgradeVipCardContainer {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  text-align: center;
  width: 180px;
  height: 90px;
  box-shadow: 0 8px 18px 0 rgba(221, 221, 221, 0.75);
  padding: 12px 0;
  border-radius: 4px;

  &.vip1Card {
    background: linear-gradient(90deg, #5ec8ff 0%, #2f99fd 100%);
  }

  &.vip2Card {
    background: linear-gradient(90deg, #ffcd5e 0%, #ffaf4d 100%);
  }

  &.vip3Card {
    background: linear-gradient(90deg, #696596 0%, #3a375f 100%);
  }

  .name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .btnBuy {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: @border-radius-base;
    cursor: pointer;
  }

  .btn1Buy {
    color: @link-color;

    &:hover {
      box-shadow: 0 0 9px 0 #207cce;
    }
  }

  .btn2Buy {
    color: #ffaf4d;

    &:hover {
      box-shadow: 0 0 9px 0 #d89034;
    }
  }

  .btn3Buy {
    color: #3a375f;

    &:hover {
      box-shadow: 0 0 9px 0 #120b5a;
    }
  }
}

.residueContainer {
  margin: 20px 0;
  padding: 20px 44px;
  background: #fff;

  table {
    width: 528px;
  }
}

.paymentHistoryContainer {
  margin: 20px 0;
  padding: 20px 44px;
  background: #fff;

  table {
    width: 100%;
  }
}
