.main {
  background-color: @layout-body-background;
  padding: 20px 30px 0 30px;
}

.container {
  background-color: #fff;
  padding-top: 20px;

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
