.follow {
  border-bottom: 1px solid @divider-line-color;
  padding: 15px 20px 15px;

  &:hover {
    background-color: #fafafa;
  }
}

.oneRow {
  display: flex;
  color: @heading-color;

  p:first-child {
    width: 230px;
  }

  p .text {
    color: @text-color;
  }
}

.twoRow {
  color: red;
}
