.crumbs {
  padding: 20px 20px 6px 20px;
  background-color: #fafafa;
}

.empty {
  color: #d9d9d9;
}

.tag {
  display: inline-flex;
  align-items: center;
  margin: 0 10px 14px 0;
  padding-left: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.tagCloseIcon {
  display: block;
  width: 30px;
  line-height: 22px;
  margin-left: 4px;
  text-align: center;
  color: #ff5958;
  font-size: 10px;
  cursor: pointer;

  &:hover {
    background-color: @error-color;
    color: #fff;
  }
}

.secondary {
  color: @text-color-secondary;
}
