.topAlert {
  background: #fff7e6;
  font-size: @font-size-sm;

  & > div {
    padding: 0 30px;
    line-height: 24px;
  }

  & > div:first-child {
    padding-top: 2px;
  }

  & > div:last-child {
    padding-bottom: 2px;
  }

  & a > span {
    font-size: 10px;
    margin-left: 1px;
  }

  .linkIcon {
    transform: rotate(-90deg);
  }

  .fixedWidth {
    margin: 0 auto;
    padding: 0;
  }

  @media screen and (min-width: 1800px) {
    .fixedWidth {
      width: 1443px;
    }
  }

  @media screen and (max-width: 1799px) {
    .fixedWidth {
      width: 1225px;
    }
  }

  .vipValidPeriod {
    color: @error-color;
  }

  .divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #ffdb8f;
    transform: translateY(-1px);
  }
}
