.side {
  a {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
  }

  .first {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      color: #333;
    }
  }

  .second {
    padding-left: 12px;

    a {
      color: #666;
    }
  }

  .active {
    color: #0083ff !important;
  }
}

.email_left {
  text-align: right;
  color: @text-color;
  font-size: 12px;
  padding-bottom: 15px;

  .green {
    color: #0dc757;
  }
}
