.Header {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(30, 72, 130, 0.1);

  .heardContainer {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: @layout-header-height;
  }

  .menuItem {
    margin: 0 30px;
    height: @layout-header-height;
  }
}
