.Header {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(30, 72, 130, 0.1);
  // 顶部加入了通知条，修改默认高度
  height: auto;
  padding: initial;

  .heardContainer {
    display: flex;
    margin: 0 auto;
    height: @layout-header-height;
  }

  @media screen and (min-width: 1800px) {
    .heardContainer {
      width: 1443px;
    }
  }

  @media screen and (max-width: 1799px) {
    .heardContainer {
      width: 1225px;
    }
  }

  .menuItem {
    margin: 0 30px;
    height: @layout-header-height;
  }
}
