.batchBidForm {
  display: flex;
  padding: 20px;
  box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);

  :global {
    .ant-select {
      width: 60px;
    }

    .ant-form-item {
      margin: 0;
    }

    input {
      width: 100px;
      text-align: center;
    }

    button {
      margin-left: 20px;
    }
  }

  .bidSetTypeSelect {
    width: 150px;
  }
}

.batchPriceExpr {
  display: flex;
}

.batchBidDropdown {
  background: #fff;

  :global {
    .ant-select-dropdown * {
      font-size: 20px;
    }
  }
}
