.updateBox {
  color: @text-color;
  font-size: @font-size-sm;
  display: inline-flex;

  .secondary {
    color: @text-color-secondary;
  }

  .export {
    padding-right: 30px;

    .exportTime {
      color: @success-color;
    }
  }
}
