:global {
  .__form_modal_subAccount {
    .ant-form {
      padding-top: 16px;
      text-align: left;
    }

    .__cancel,
    .__save {
      width: 90px;
      height: 30px;
    }

    .__save {
      margin-left: 20px;
    }
  }
}

.addBtnWrap {
  text-align: right;
  padding-bottom: 16px;

  .AddAccount {
    display: inline-block;
    position: relative;

    :global {
      .addBtn {
        button {
          width: 110px;
        }
      }
    }
  }
}
