:global {
  .__form_modal_subAccount {
    .ant-form {
      padding-top: 16px;
      text-align: left;
    }

    .__cancel,
    .__save {
      width: 90px;
      height: 30px;
    }

    .__save {
      margin-left: 20px;
    }
  }
}

.addBtnWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;

  .AddAccount {
    display: inline-block;
    position: relative;

    :global {
      .addBtn {
        button {
          width: 110px;
        }
      }
    }
  }

  .left_number {
    color: @text-color;
    font-size: @font-size-sm;
    line-height: 30px;

    .green {
      color: @success-color;
    }
  }
}

.__group {
  max-height: 110px;
  overflow: auto;
}

.__link {
  .__add_icon {
    transform: rotate(-90deg);
    margin-left: 5px;
    font-size: 12px;
  }
}
