.modal_container {
  padding: 30px 14px 30px 30px;

  .modal_table_overflow {
    max-height: 500px;
    overflow: auto;

    .modal_table {
      width: 100%;
      border-collapse: collapse;
      border-left: 1px solid #eee;

      .table_msg {
        text-align: center;
      }

      th {
        font-weight: 500;
        color: #333;
        text-align: center;
        height: 34px;
        background-color: #f7f7f7;
        border-top: 1px solid #eee;
        font-size: 14px;
      }

      td {
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        height: 52px;
      }

      tbody {
        overflow: auto;
      }

      .insert {
        border: none;
        background-color: #fff;
        border-left: 1px solid #eee;

        span {
          color: #09c2a6;
          cursor: pointer;

          &:hover {
            color: #0083ff;
          }
        }
      }
    }
  }
}
