span:global(.secondary) {
  color: @text-color-secondary;
}

.rulesBox {
  position: relative;
}

.addBtn {
  width: 100px;
  padding: 0;
  background-color: @primary-color;
  position: absolute;
  right: 0;
  top: -42px;

  &:hover {
    background-color: @primary-color;
  }
}

main.table {
  margin-top: 20px;

  div:global(.ant-table-body) {
    overflow-y: auto !important;
  }

  table thead {
    th {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      height: 54px;
      background: @simple-table-header-bg !important;
    }
  }

  tbody {
    tr,
    td {
      height: 60px;
    }

    tr:hover {
      td {
        background-color: @simple-table-header-bg !important;
      }

      i:global(.update-icon) {
        opacity: 1;
      }

      :global(.h-async-default-icon) {
        opacity: 1;
      }
    }
  }

  .typeCol {
    padding-left: 70px;
  }

  .tableSelect {
    font-size: @font-size-sm;

    :global(.ant-select-arrow) {
      right: 14px;
    }
  }

  // 操作列
  .handleCol {
    text-align: center;

    span {
      margin: 0 5px;
      transition: all 0.3s;
    }

    a.setting {
      color: @btn-text-color;
      padding: 0 5px 0 10px;

      &:hover {
        color: @link-color;
      }
    }

    span.del {
      color: @btn-text-color;
      cursor: pointer;

      &.disabled {
        margin: 0 10px;
        color: #72e1d2;
        cursor: not-allowed !important;

        &:hover {
          color: #72e1d2;
        }
      }

      &:hover {
        color: @error-color;
      }
    }
  }
}

.globalSelect {
  text-align: center;
}

.delTooltip {
  min-width: 276px;
  text-align: center;

  :global(.ant-popover-message) {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-size: @font-size-lg;

    :global(.anticon) {
      position: static;
      padding-bottom: 6px;
      padding-bottom: 0;
    }
  }

  :global(.ant-popover-message-title) {
    padding-left: 12px;
    color: @heading-color;
  }

  :global(.ant-popover-buttons) {
    text-align: center;

    button {
      min-width: 82px;
      height: 30px;
      line-height: 30px;
      font-size: @font-size-base;
      margin: 6px 10px;
    }
  }
}
