.sort_components {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: 100%;
  align-items: center;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;

  .sort_icon {
    color: #999;
    font-size: @font-size-sm;
    margin-left: 5px;
    transition: all 0.3s;

    &.desc {
      transform: rotate(182deg) translateY(-1px);
    }

    &.asc {
      transform: rotate(0deg);
    }

    &.not {
      opacity: 0;
    }
  }

  &:hover {
    background: #eee;

    .sort_icon {
      color: #333;
      opacity: 1;
    }
  }
}
