.header {
  background-color: #fff;
  margin: 0 0 20px;

  .search {
    padding: 20px 0 20px 20px;
    border: 1px solid @divider-line-color;

    .inputStyle {
      padding: 3px 12px;
      width: 280px;
      float: left;

      &:first-child {
        margin: 0 30px 0 0;
      }

      &:nth-child(2) {
        margin: 0 20px 0 0;
      }
    }

    :global(.ant-btn) {
      float: left;
    }

    .datepicker {
      float: right;
      margin: 0 10px;
      position: relative;
    }

    // 日历范围按钮
    li:global(.ant-picker-preset) span:global(.ant-tag) {
      padding: 0 6px;
    }
  }
}

.radio_filtrate {
  font-size: 14px;
  padding: 20px 20px 10px;
  min-width: 1340px;
  overflow: hidden;
  display: flex;

  > div {
    flex: 0 0 auto;

    :global(span.ant-radio) + * {
      padding: 0 10px 0 5px;
    }

    .layout_one_item {
      padding-bottom: 10px;

      .text {
        text-align: left;
        display: inline-block;
      }
    }
  }

  .left_layout,
  .right_layout {
    .handlePadding {
      margin-left: 20px;
    }
  }

  .left_layout {
    .layout_one_item .text {
      min-width: 73px;
    }
  }

  .right_layout {
    margin-left: 100px;

    .layout_one_item .text {
      min-width: 85px;
      display: inline-block;
    }

    .icon {
      cursor: pointer;
      margin-left: 20px;
      display: inline-block;
      position: relative;
      top: -63px;
      transition: all 0.3s;

      &:global(.active) {
        top: 0;
      }

      &:hover {
        color: @primary-color;
      }

      .i {
        color: @primary-color;
        font-size: 14px;
        margin-right: 8px;
        transition: all 0.3s;
      }

      .i:global(.active) {
        transform: rotate(182deg);
      }
    }
  }
}
