.header {
  background-color: #fff;
  margin: 0 0 20px;

  :global(.ant-form-item) {
    margin: 0;
  }

  .search {
    padding: 20px 0 14px 20px;
    border: 1px solid @divider-line-color;
    // display: flex;
    // justify-content: space-between;

    .leftLayout {
      display: flex;
      float: left;
    }

    .inputStyle {
      padding: 3px 6px 3px 10px;
      width: 280px;
      float: left;

      &:first-child {
        margin: 0 30px 0 0;
      }

      &:nth-child(2) {
        margin: 0 20px 0 0;
      }

      :global(.ant-input-suffix) {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .datepicker {
      margin: 0 10px;
      position: relative;
      float: right;
    }

    // 日历范围按钮
    li:global(.ant-picker-preset) span:global(.ant-tag) {
      padding: 0 6px;
    }
  }
}

.radio_filtrate {
  font-size: 14px;
  padding: 8px 20px 10px;
  min-width: 1340px;
  overflow: hidden;
  display: flex;

  > div {
    flex: 0 0 auto;

    :global(span.ant-radio) + * {
      padding: 0 10px 0 5px;
    }

    .layout_one_item {
      padding-bottom: 3px;

      .text {
        text-align: left;
        display: inline-block;
      }
    }
  }

  .left_layout,
  .right_layout {
    .handlePadding {
      margin-left: 20px;
    }
  }

  .left_layout {
    :global(.ant-form-item-label) {
      min-width: 73px;
      text-align: left;

      > label::after {
        margin: 0;
      }
    }
  }

  .right_layout {
    margin-left: 100px;

    :global(.ant-form-item-label) {
      min-width: 85px;
      text-align: left;

      > label::after {
        margin: 0;
      }
    }

    .action {
      display: flex;

      .icon {
        cursor: pointer;
        top: -60px;
        margin-left: 20px;
        display: inline-block;
        position: relative;
        transition: all 0.3s;

        &:global(.active) {
          top: 0;
        }

        &:hover {
          color: @primary-color;
        }

        .i {
          color: @primary-color;
          font-size: 14px;
          margin-right: 8px;
          transition: all 0.3s;
        }

        .i:global(.active) {
          transform: rotate(182deg);
        }
      }
    }
  }
}
