.chartsContainer {
  margin: 0 20px;

  :global {
    .ant-tabs-top > .ant-tabs-nav::before {
      content: none;
    }

    .ant-tabs-tab {
      margin-right: 20px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.RadioGroup {
  display: block;
  text-align: center;
  margin-top: 10px;
}
