nav.head {
  padding: 0 30px 14px;
  margin: -5px 0 0 0;
  // font-family: "pingFangSC-Regular", sans-serif;
  font-size: @font-size-sm;
  color: @text-color;

  .classify {
    color: #0083ff;
  }

  .arrow {
    padding: 0 5px;
    font-size: @font-size-sm;
    display: inline-block;
    color: @text-color-secondary;
    transform: scaleY(0.8) rotate(-90deg);
  }
}

header.head_nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  p {
    margin: 0;
    padding: 0;
  }

  .navs {
    a {
      width: 106px;
      line-height: 34px;
      margin: 0 4px;
      text-align: center;
      display: inline-block;
      background-color: #ececec;
      border-radius: @border-radius-base;
      color: @text-color;
      border: none;
      transition: all 0.3s;
    }

    a:first-child {
      margin: 0;
    }

    a:global(.active) {
      color: #fff;
      background-color: @primary-color;
    }

    a:hover {
      color: #fff;
      background-color: @primary-color;
    }
  }

  .filltrate {
    display: flex;

    .downlist {
      width: 180px;
      height: 30px;
      margin-right: 20px;
    }

    // 选中列表
    div:global(.ant-select-selector) {
      .list {
        display: flex;

        .product {
          width: 28px;
          height: 28px;
          display: inline-block;
          margin-right: 10px;
        }

        p.title {
          display: none;
        }

        p.asin {
          width: 102px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    // 下拉列表的宽度
    div:global(.ant-select-dropdown) {
      width: 446px !important;
      min-width: 446px !important;

      // 下拉列表
      .list {
        display: flex;
        font-size: @font-size-base;

        div:global(.ant-select-item) {
          height: 50px;
          line-height: 50px;
        }

        .product {
          width: 28px;
          height: 28px;
          flex: 0 0 auto;
          margin: 10px 10px 0 0;
        }

        p.title {
          width: 370px;
          color: #0083ff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p.asin {
          color: @text-color;
        }
      }
    }
  }
}

.not_asin {
  margin-top: 100px;
}
