.customColumnContainer {
  width: 400px;
  background-color: #fff;
  padding: 8px 20px;
  box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);
}

.customColumnTitle {
  font-size: @font-size-lg;
  color: #000;
  margin-bottom: 10px;
}

.Row1 {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.Row2 {
  padding-top: 14px;
}

:global {
  .ant-checkbox {
    transform: scale(0.875);
  }
}
