@headMenuLineHeight: 40px;

.right {
  .ShopSelectorContainer,
  .GlobalSearchContainer {
    display: inline-block;
    margin: 0 10px;
  }

  .weixin {
    margin: 0 26px;
    font-size: 24px;
    color: @primary-color;
    cursor: pointer;
  }

  .avatarContainer {
    position: relative;

    .badge {
      position: absolute;
      line-height: 0;
      width: 3px;
      top: 0;
      right: 0;
    }
  }
}

.link_into {
  color: #666;

  span {
    color: #999;
  }

  &:hover {
    span {
      color: #0083ff;
    }
  }
}

.__index_tooltip {
  background-color: #fff;

  :global {
    .ant-tooltip-inner {
      background-color: #fff;
    }

    .ant-tooltip-arrow::before {
      background-color: #fff;
    }
  }
}

.headerMenu {
  padding-left: 18px;
  padding-right: 18px;

  :global {
    .ant-dropdown-menu-item {
      min-width: 200px;
      color: @primary-color;
      text-align: center;

      &:hover {
        color: #0083ff;
      }
    }

    .ant-dropdown-menu-item-divider {
      background-color: @divider-line-color;
      margin: 0;
    }
  }

  .menuItem {
    line-height: @headMenuLineHeight;
    position: relative;

    .menuIcon {
      position: absolute;
      left: 0;
      top: 14px;
      font-size: 18px;
    }

    .badge {
      position: absolute;
      line-height: 0;
      top: 13px;
      left: 16px;
    }

    .username {
      display: inline-block;
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }
  }
}
