// 状态筛选下拉框
.stateSelect {
  width: 90px;
}

.selectDropdown * {
  font-size: @font-size-base;
}

// 三个状态
.enabled {
  color: @success-color;
}

.paused {
  color: @error-color;
}

.archived {
  color: @text-color;
}
