.order_list {
  p {
    padding: 0;
    margin: 0;
  }

  td {
    vertical-align: middle;
  }

  .table {
    background-color: #fff;

    // 单元格
    .orderinfo {
      border-bottom: 1px solid @divider-line-color;
    }
  }

  .page {
    padding: 10px 0;
  }
}

div:global(.ant-table) {
  font-size: @font-size-base !important;
}

.table_style {
  :global(.ant-table-cell) {
    padding: 0;
  }

  div:global(.ant-table-body) {
    overflow: visible;
    overflow-y: auto !important;
  }

  // 表头
  .table_header {
    border: 1px solid @divider-line-color;
    border-bottom: none;

    // 隐藏头的样式
    div:global(.ant-table) {
      overflow: hidden;
    }

    div.head {
      padding: 0;
      height: 44px !important;
      line-height: 44px !important;
      background-color: #f7f7f7;
      border: none !important;
      color: @heading-color;
      font-weight: normal;
    }

    td {
      border: none;
      background-color: @simple-table-header-bg;
    }
  }

  .row {
    width: 100%;

    > p.empty:nth-child(1) {
      height: 10px;
      background-color: #f5f5f5;
    }

    //
    .rowItem {
      width: 100%;

      div:global(.ant-table) {
        overflow: hidden;
      }
    }

    header.order_head {
      line-height: 42px;
      color: @text-color;
      background-color: #fff;
      border-bottom: 1px solid @divider-line-color;

      .downTime,
      .orderId {
        float: left;

        .text {
          color: @text-color-secondary;
        }
      }

      span.downTime {
        padding: 0 0 0 10px;
      }

      .orderId {
        padding: 0 50px;
      }

      .b2b {
        float: right;
        color: #ffaf4d;
        padding: 0 15px;
      }
    }

    tbody {
      tr[data-row-key=1] p.empty {
        display: none;
      }

      tr {
        height: 100px;
        max-height: 100px;

        &:hover td {
          background-color: transparent;
        }
      }
    }

    // 表格商品列
    .table_product_col {
      display: flex;
      min-width: 433px;

      .img {
        width: 68px;
        height: 68px;
        flex: 0 0 auto;
        margin: 15px 10px;
      }

      .datails {
        width: 100%;
        text-align: left;
        padding: 15px 15px 0 0;

        .title {
          min-width: 220px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal;
          color: #0083ff;
        }

        .title:hover * {
          color: #0083ff;
        }

        p:nth-child(2) {
          display: flex;
          justify-content: space-between;
        }

        p:nth-child(3) {
          display: flex;
          justify-content: space-between;
          line-height: 15px;

          .asin {
            color: @btn-text-color;

            &:hover {
              color: @link-color;
            }
          }
        }
      }
    }

    // 费用信息
    .table_cost_info {
      text-align: left;
      min-width: 211px;
      padding: 0 0 0 15px;
      display: table;
      margin: 0 auto;

      p.p_one_and_two,
      p.p_three {
        .text {
          color: @text-color-secondary;
        }

        line-height: 26px;
      }

      p.p_one_and_two {
        span:nth-child(3) {
          color: @text-color-secondary;
        }
      }

      p.p_three {
        color: #000;
      }
    }

    // 订单状态
    .table_order_status {
      line-height: 25px;
      min-width: 130px;

      span.method {
        color: @text-color-secondary;
      }

      // 订单状态不同状态不同颜色
      :global(.pending) {
        color: @text-color;
      }

      :global(.cancelled) {
        color: @text-color-secondary;
      }

      :global(.shipping) {
        color: @error-color;
      }

      :global(.shipped) {
        color: #09a949;
      }
    }

    // 买家信息
    .table_buyer_info {
      min-width: 360px;
      width: 400px;
      padding: 0 0 0 10px;
      margin: 0 auto;

      .buyer_info_layout_one {
        display: flex;
        line-height: 26px;
        color: @text-color;

        .title {
          color: @text-color-secondary;
        }

        p:first-child {
          width: 180px;
        }
      }

      div.address {
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        .title {
          color: @text-color-secondary;
        }
      }
    }

    // 实付金额
    .money {
      color: @error-color;
      min-width: 105px;
    }
  }
}
