// 折线图的 tooltip
.tooltipContainer {
  padding: 10px;
  font-size: @font-size-base;

  .tooltipTime {
    color: #888;
    text-align: left;
  }

  .tooltipItem {
    display: flex;
    align-items: center;
    color: #333;
  }

  .tooltipTitle {
    color: #666;
  }

  .marker {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
  }
}
