.__table {
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      height: 44px;
      border: none;
      padding: 15px;
    }

    .ant-table-body {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }

    .ant-table-container {
      border-bottom: 1px solid #eee;
    }
  }

  .__switch {
    transform: scale(0.818);
  }

  .__operator {
    width: 62px;
    display: flex;
    justify-content: space-between;
    font-size: @font-size-sm;
    margin: 0 auto;

    .edit {
      color: @btn-text-color;
      cursor: pointer;

      &:hover {
        color: @link-color;
      }
    }

    .delete {
      color: @error-color;
      cursor: pointer;

      &:hover {
        color: #ff000d;
      }
    }
  }

  .darkRow {
    background-color: @simple-table-header-bg;
  }

  .__text_time {
    word-break: break-word;
  }
}

.__deleteRule {
  :global {
    .ant-modal-content {
      padding-bottom: 20px;

      .ant-modal-body {
        font-size: 16px;
        color: #222;
        padding-bottom: 15px;
      }

      .ant-modal-footer {
        text-align: center !important;
        border-top: none;

        button {
          & + button {
            margin-left: 14px;
          }
        }
      }
    }
  }
}
