// 折线图的 tooltip
.tooltipContainer {
  // 有黑边，原因不明，用负数来抵消
  margin: -6px;
  padding: 10px;
  font-size: @font-size-base;
  background: #fff;
  box-shadow: 0 3px 13px 0 rgba(231, 231, 231, 0.75);

  .marketplaceName {
    color: #333;
  }

  .tooltipItem {
    display: flex;
    align-items: center;
    color: #333;
  }

  .tooltipTitle {
    color: #666;
  }

  .marker {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
  }
}
