.setBox {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 13px 0 rgba(215, 215, 215, 0.75);
  display: flex;
  border-radius: @border-radius-base;
}

.selectOne {
  width: 148px;
  margin-bottom: 0;
}

.otherSelect {
  width: 60px;
  margin-bottom: 0;

  :global(.ant-select-selection-item) {
    padding-right: 15px !important;
  }
}

.input {
  width: 100px;
  margin-bottom: 0;
  margin-right: 20px;
}

.btn {
  margin-left: 10px;
}
