// 营销模式
.spsdsbBox {
  min-height: 350px;
  margin: 20px auto;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  :global(.ant-form-item) {
    margin-bottom: 0;

    :global(.ant-form-item-label) {
      width: 70px;
    }
  }

  .explain {
    display: flex;
    color: @text-color-secondary;
    align-items: center;
    margin-left: 70px;

    .explainIcon {
      color: @warning-color;
      margin-right: 5px;
    }
  }

  .scene {
    margin-top: 12px;
  }
}
