
.single_orderInfo {
  display: flex;
  align-items: center;
  max-width: 457px;
  margin: 0 auto;

  & + .single_orderInfo {
    border-top: 1px solid #d9d9d9;
  }

  .img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .column_img_right {
    width: calc(100% - 40px);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;

    .link_part {
      .typography {
        margin-bottom: 0;
        text-align: left;
        color: #0083ff;

        .icon_link {
          color: #999;
        }

        &:hover {
          .icon_link {
            color: #0083ff;
          }
        }
      }
    }

    .asin_sku {
      display: flex;
      justify-content: space-between;
      text-indent: 12px;

      .price_method {
        & > div {
          display: inline-block;
        }

        div + div {
          position: relative;

          &::before {
            clear: both;
            content: '';
            position: absolute;
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: @border-color-base;
            top: 2px;
            left: 6px;
          }
        }

        .price {
          color: @text-color-down;
          font-size: 12px;
          text-align: left;
        }

        .FBA {
          color: #0dc757;
        }

        .FBM {
          color: #ffaf4d;
        }
      }
    }
  }
}
