@blue: @primary-color;
@golden: #ffaf4d;

// 大图标
.big > span {
  width: 33px;
  line-height: 20px;
  font-size: 14px;

  &.add {
    width: 37px;
  }

  &.coupon,
  &.promotion,
  &.pr {
    width: 28px;
  }
}

.icon {
  display: inline-block;
  width: 24px;
  line-height: 14px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}

.add {
  composes: icon;
  color: @blue;
  width: 30px;
}

.ac {
  composes: icon;
  color: #000;

  .C {
    color: @golden;
  }
}

.bs {
  composes: icon;
  color: @golden;
}

.nr {
  composes: bs;
}

.prime {
  composes: ac;
  cursor: initial;
}

.promotion {
  composes: icon;
  color: @blue;
  cursor: initial;
}

.coupon {
  composes: bs;
}

.seller {
  display: inline-flex;
  width: 36px;
  line-height: 16px;
  background-color: #77c2ff;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  cursor: help;
}

.iconRenshu {
  flex: 1;
  font-size: 11px;
}

.sellerNum {
  flex: 1;
}

.cart {
  color: #ff5958;
  font-size: 14px;
  cursor: help;
}

.question {
  color: @text-color;
  margin-left: 4px;
  cursor: help;

  :hover {
    color: @warning-color;
  }
}

.redFlag {
  color: @text-color-down;
}

.link {
  color: @text-color-secondary;
}
