
.back {
  color: @heading-color;
  text-align: left;
  display: inline-block;
  margin-bottom: 3px;
  cursor: pointer;

  .icon_back {
    font-size: 14px;
    color: @text-color-secondary;
    margin-right: 6px;
    overflow-y: auto;
    transform: rotate(90deg);
  }

  span {
    font-size: 14px;
    color: @text-color;
  }

  &:hover {
    span {
      color: #0083ff;
    }
  }
}

.down_part {
  border: 1px solid @border-color-base;
}
