.Select {
  width: 240px;
  background: @layout-header-inputBackgroundColor;
}

.SelectItem {
  display: flex;
  align-items: center;

  .flag {
    flex-shrink: 0;
    background-image: url('~@/assets/nation.png');
    width: 28px;
    height: 16px;
  }

  .flag-JP {
    background-position: -37px -13px;
  }

  .flag-UK {
    background-position: -438px -13px;
  }

  .flag-US {
    background-position: -95px -13px;
  }

  .flag-CA {
    background-position: -152px -13px;
  }

  .flag-DE {
    background-position: -267px -13px;
  }

  .flag-ES {
    background-position: -324px -13px;
  }

  .flag-FR {
    background-position: -209px -13px;
  }

  .flag-IT {
    background-position: -381px -13px;
  }

  .site {
    display: inline-block;
    text-align: center;
    width: 32px;
    margin: 0 5px;
  }

  .shopName {
    display: inline-block;
    width: 150px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
