.Select {
  width: 240px;
  background: @layout-header-inputBackgroundColor;
}

.SelectItem {
  .flag {
    display: inline-block;
    background-image: url('~@/assets/nation.png');
    width: 20px;
    height: 13px;
  }

  .flag-UK {
    background-position: -45px -16px;
  }

  .flag-US {
    background-position: -1px -16px;
  }

  .flag-CA {
    background-position: -23px -16px;
  }

  .flag-DE {
    background-position: -1px -1px;
  }

  .flag-ES {
    background-position: -1px -31px;
  }

  .flag-FR {
    background-position: -23px -1px;
  }

  .flag-IT {
    background-position: -45px -1px;
  }

  .site {
    width: 32px;
    margin: 0 5px;
  }

  .shopName {
    display: inline-block;
    width: 150px;
    text-align: center;
  }
}
