.page {
  width: 100%;
  background: #fff;
}

.footerContainer {
  background: #fafafa;

  .footer {
    width: 1320px;
    margin: 0 auto;
  }
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 80px 0;

  h4 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.presentation {
  font-size: 14px;

  h4 {
    margin-bottom: 10px;
  }

  p {
    line-height: 26px;
  }

  img {
    margin-top: 8px;
  }
}

.browser {
  margin: 20px 0;
  padding: 40px 0 50px 0;

  img {
    margin-right: 30px;
  }
}

.installExplain {
  display: flex;
}

.installTitle {
  margin-bottom: 20px;
}

.installAppStore {
  width: 500px;
}

.btn {
  display: block;
  color: #fff;
  background: #309afd;
  width: 214px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  a {
    color: #fff;
  }
}

.btnSafe360 {
  margin: 15px 0;
}

.installStep {
  color: #666;
  font-size: 14px;

  span {
    display: block;
    line-height: 22px;
  }
}

.btnLocal {
  background: #01c94f;
  margin-top: 32px;
}
