.page {
  position: relative;
  margin-top: 22px;

  :global {
    .ant-table-thead > tr > th {
      background-color: @simple-table-header-bg;
    }

    .ant-table-container {
      font-size: @font-size-base;
    }
  }
}

.bindBtn {
  width: @btn-long-width;
}

.unBindBtn {
  color: @btn-text-color;

  &:hover {
    color: @primary-color;
  }
}

.shopSwitch {
  transform: scale(0.909);
}
