.page {
  position: relative;
  margin-top: 22px;

  :global {
    .ant-table-thead > tr > th {
      background-color: @simple-table-header-bg;
    }

    .ant-table-container {
      font-size: @font-size-base;
    }
  }
}

.bindBtn {
  width: @btn-long-width;
}

.unBindBtn {
  color: @btn-text-color;

  &:hover {
    color: @primary-color;
  }
}

.shopSwitch {
  transform: scale(0.909);
}

// 表格行 hover 时，显示店铺名称编辑图标
.tableTr:hover {
  :global(.anticon) {
    opacity: 1;
  }
}

// 店铺名称表头和内容看起来居中
.shopNameThTitle {
  padding-right: 18px;
}
