.Modal {
  :global {
    .ant-modal-body {
      padding: 0;
    }

    .ant-modal-close:hover {
      color: @error-color;
    }
  }
}

.container {
  display: flex;
  padding: 0 20px;
}

// 左侧目录
.catalogue {
  max-height: 600px;
  overflow: auto;

  .Menu {
    width: 360px;
  }

  .catalogueItem {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    color: @text-color-secondary;

    & > div {
      width: 50%;
    }

    .name {
      color: @text-color;
    }

    .value {
      color: @heading-color;
      font-size: 18px;
    }

    .lastCycleValue {
      color: @text-color;
    }
  }

  .activeLine {
    position: absolute;
    width: 100%;
    height: 2px;
  }

  :global {
    // 改造菜单
    .ant-menu {
      .ant-menu-submenu {
        margin-bottom: 14px;
      }
      // 菜单分组 title
      .ant-menu-submenu-title {
        padding-left: 0 !important;
        color: @heading-color;
        font-weight: bold;
        margin: 0;
      }
      // 菜单项
      .ant-menu-sub.ant-menu-inline > .ant-menu-item {
        height: 64px;
        line-height: 28px;
        margin: 0;
        padding: 0 !important;
        // 相邻 border 重叠
        margin-bottom: -1px;
        border: 1px solid @divider-line-color;
      }
      // 选中的菜单项
      .ant-menu-item-selected {
        background-color: #f7f7f7;
      }
      // 去掉选中菜单项的高亮右边线
      .ant-menu-inline .ant-menu-item::after {
        content: none;
      }
      // 禁用时
      .ant-menu-item-disabled {
        border-color: @divider-line-color !important;
        cursor: wait;
      }
    }
  }
}

// 右侧图表
.charts {
  width: 100%;

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 20px;
  }

  .dateToobar {
    display: flex;
    text-align: left;

    & > div:not(:last-child) {
      margin-right: 20px;
    }
  }

  :global {
    // 表格
    .ant-table {
      border: 1px solid @divider-line-color;

      .ant-table-thead > tr > th {
        background-color: @simple-table-header-bg;
        padding: 12px 4px;
      }

      .ant-table-tbody > tr > td {
        padding: 12px 4px;
      }
    }
  }
}

// 折线图的 tooltip
.tooltipContainer {
  padding: 10px;
  font-size: @font-size-base;

  .tooltipTime {
    color: #999;
    text-align: left;
  }

  .tooltipItem {
    display: flex;
    align-items: center;
    color: #333;
  }

  .tooltipTitle {
    color: #666;
  }

  .marker {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
  }
}

.tableContainer {
  margin: 20px 0 0 20px;
  max-width: 900px;
}
