.chartsToobar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    margin-left: 20px;
  }
}

.nowrap {
  white-space: nowrap;
}

.secondary {
  color: @text-color-secondary;
}
