/*
  全局 css
*/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: @screen-xl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

// antd 样式覆盖， 没有提供 less 变量的在这里覆盖
a:hover {
  color: #0083ff;
}

.ant-btn {
  min-width: 82px;
}

.ant-btn-sm {
  min-width: 50px;
}

.ant-modal-body {
  text-align: center;

  .ant-modal-confirm-btns {
    float: inherit;
  }
}

@media (max-width: @screen-xl) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
