/*
  全局 css
*/

@font-face {
  font-family: "pingFangSC-Medium";
  src: url('./assets/fonts/PingFang Medium_0.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pingFangSC-Regular";
  src: url('./assets/fonts/PingFang Regular_0.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: @screen-xl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: Microsoft YaHei;
  // font-family: pingFangSC-Regular, pingFangSC-Medium;
  font-family: -apple-system, BlinkMacSystemFont, arial, PingFang SC, pingFangSC-Regular, pingFangSC-Medium Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  // font-family: "pingFangSC-Regular" "pingFangSC-Medium";
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

// antd 样式覆盖， 没有提供 less 变量的在这里覆盖
.ant-btn-primary {
  min-width: 82px;
}

.ant-btn-sm {
  min-width: 50px;
}

@media (max-width: @screen-xl) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

//安装ui要求，页面所有的复选框改为圆角2px
.ant-checkbox {
  .ant-checkbox-inner {
    border-radius: 2px;
  }
}
