/*
  全局 css
*/

/* @font-face {
  font-family: "pingFangSC-Medium";
  src: url('./assets/fonts/PingFang Medium_0.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pingFangSC-Regular";
  src: url('./assets/fonts/PingFang Regular_0.ttf');
  font-weight: normal;
  font-style: normal;
} */

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: @screen-xl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, arial, PingFang SC, pingFangSC-Regular, pingFangSC-Medium Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  // font-family: Microsoft YaHei;
  // font-family: pingFangSC-Regular, pingFangSC-Medium;
  // font-family: "pingFangSC-Regular" "pingFangSC-Medium";
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

// antd 样式覆盖， 没有提供 less 变量的在这里覆盖
a:hover {
  color: #0083ff;
}

.ant-btn {
  min-width: 82px;
}

.ant-btn-sm {
  min-width: 50px;
}

.ant-modal-body {
  text-align: center;

  .ant-modal-confirm-btns {
    float: inherit;
  }
}

// 日期范围选择器 DatePicker.RangePicker 的宽度
.ant-picker-range {
  width: 280px;

  // 日期居中显示
  .ant-picker-input input {
    text-align: center;
  }
}

// 分页小屏的样式
.h-page-small {
  text-align: right;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  // 总数据放在左边
  .ant-pagination-total-text {
    float: left;
  }

  .ant-pagination-total-text,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-item,
  .ant-select-selector,
  .ant-pagination-options-quick-jumper {
    height: 26px !important;
    line-height: 26px !important;
    font-size: @font-size-sm;
  }

  .ant-pagination-options-quick-jumper input {
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
  }

  li.ant-pagination-item {
    min-width: 32px;
  }
}

.ant-table-wrapper {
  // 表头字体改细
  .ant-table-thead > tr > th {
    font-weight: 400;
  }

  // 表格横向滚动阴影改浅
  .ant-table-ping-right .ant-table-cell-fix-right-first::after,
  .ant-table-ping-right .ant-table-cell-fix-right-last::after {
    box-shadow: inset -8px 0 8px -8px rgba(0, 0, 0, 0.1);
  }

  .ant-table-ping-left .ant-table-cell-fix-left-first::after,
  .ant-table-ping-left .ant-table-cell-fix-left-last::after {
    box-shadow: inset 8px 0 8px -8px rgba(0, 0, 0, 0.1);
  }

  // 去掉排序表头默认的 hover 色块
  .ant-table-thead th.ant-table-column-has-sorters:hover {
    background: @table-header-bg;
  }

  // 表头排序箭头和文字的间距
  .ant-table-column-sorter {
    margin-left: 4px;
  }

  // 分页器在右边时
  .ant-table-pagination-right {
    // total 放在左边
    .ant-pagination-total-text {
      position: absolute;
      left: 0;
    }
    // 整个分页器右对齐
    .ant-pagination-options {
      div:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: @screen-xl) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// 解决没有高度问题
.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// 重写双日历的样式
.h-range-picker {
  span.ant-picker-suffix,
  span.ant-picker-separator {
    color: rgba(0, 0, 0, 0.25);
  }

  .ant-picker-header-super-prev-btn,
  .ant-picker-prev-icon,
  .ant-picker-header-super-next-btn,
  .ant-picker-next-icon {
    color: rgba(0, 0, 0, 0.25);
    transition: all 0.3s;

    &:hover {
      color: @heading-color;
    }
  }

  .ant-picker-cell {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  // 正常的
  .ant-picker-cell-in-view {
    color: @text-color;
  }

  // 禁用的
  .ant-picker-cell-disabled .ant-picker-cell-inner {
    color: rgba(0, 0, 0, 0.25);
  }
}

// 滑动开关
.h-switch {
  min-width: 40px !important;
  height: 20px !important;

  &::after {
    width: 16px !important;
    height: 16px !important;
  }

  .ant-switch-handle {
    width: 16px;
    height: 16px;
    top: 2px;
  }

  &[aria-checked=true] .ant-switch-handle {
    left: calc(100% - 18px) !important;
  }
}

.none {
  display: none !important;
}
//将typography中的margin-bottom:1em去掉
div.ant-typography {
  margin-bottom: 0 !important;
}
//按照ui要求，页面所有的复选框改为圆角2px
.ant-checkbox {
  .ant-checkbox-inner {
    border-radius: 2px;
  }
}

// 滚动条
.h-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar { /* 滚动条整体样式 */
    width: 10px;    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {/* 滚动条里面小方块 */
    width: 10px;
    height: 30px;
    background: #c1c1c1;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-track { /* 滚动条里面轨道 */
    background: #f1f1f1;
  }
}

.ant-table-pagination.ant-pagination {
  margin: 10px 0 !important;
}
//表格中为空显示的横杠
.null_bar {
  width: 12px;
  height: 1px;
  background-color: #666;
  display: inline-block;
}

// 搜索框 280px
.h-search {
  width: 240px !important;

  button.ant-input-search-button {
    min-width: 40px;
    width: 40px;
    font-size: 19px;
    padding: 0;

    span {
      width: 40px;
      margin-left: -2px;
    }
  }
}
