.faqContainer {
  padding-top: 40px;
  padding-bottom: 53px;

  .title {
    color: #c1c1c1;
    font-size: 32px;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid @divider-line-color;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;

    .head {
      color: @heading-color;
      font-size: 24px;
      text-align: left;
    }

    .body {
      color: @text-color;
      font-size: 14px;
      text-align: left;
      line-height: 29px;
      margin-top: 21px;
    }

    .q2,
    .q3,
    .q5,
    .q6 {
      padding-top: 70px;
    }

    .left {
      width: 496px;
    }

    .right {
      width: 490px;
    }
  }
}
