// 高级筛选
.filternItem {
  padding: 11px min(50px) 15px;

  .title {
    color: #000;
    font-weight: bold;
    line-height: 14px;
  }
}

div.layoutBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, 363px);
  column-gap: max(50px);
  row-gap: 14px;
  justify-content: space-between;
  // justify-content: space-evenly;
  // justify-content: space-evenly;

  .layoutItem {
    display: flex;
    align-items: center;

    input {
      width: 108px;
      text-align: center;
    }

    span.line {
      display: inline-block;
      width: 24px;
      line-height: 30px;
      text-align: center;
      color: #979797;
      font-size: 10px;
    }

    .textName {
      width: 125px;
      color: @text-color;
      white-space: nowrap;

      .colon {
        color: @text-color;
      }

      .percent {
        color: @text-color-secondary;
      }

      .secondary {
        color: @text-color-secondary;
        padding: 0 2px;
      }
    }

    .item {
      margin: 0;

      label {
        width: 117px;
      }
    }
  }
}

.btns {
  display: flex;
  grid-column-start: 4;
  grid-column-end: 4;
  position: relative;
  top: 6px;

  @media screen and (max-width: 1778px) {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  :global(.ant-form-item) {
    margin-bottom: 14px;
  }

  button {
    height: 30px;
    margin-right: 20px;
  }

  .clear {
    color: @link-color;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: @error-color;
    }
  }
}

// 保存偏好
.savePreferential {
  position: relative;
  // margin-right: 20px;

  .btn {
    width: 106px;
  }
}
