.title {
  color: @heading-color;
  font-size: @font-size-base;
  text-align: left;
  font-weight: bold;
}

.__form {
  :global {
    .ant-form-item-explain.ant-form-item-explain-error {
      text-align: left;
    }

    .ant-form-item-label {
      padding: 0;
    }
  }

  .__tree_wrap {
    position: relative;

    .__tree {
      position: absolute;
      width: 279px;
      top: 0;
      left: 0;
    }
  }

  .__item_label {
    height: 30px;

    ._icon {
      font-size: 24px;
      height: 30px;
      vertical-align: middle;
      color: @error-color;
    }
  }

  .__role_description {
    margin-top: -8px;
    margin-bottom: 4px !important;
  }

  .__common_item {
    margin-bottom: 4px !important;
  }

  .__textarea {
    height: 110px !important;
  }

  .__groups {
    max-height: 298px;
    overflow: auto;
    text-align: left;
    width: 100%;
  }

  .__radioGroup {
    text-align: left;
    margin-bottom: 0 !important;

    :global {
      .ant-form-item-control-input,
      .ant-form-item-label > label {
        align-items: flex-end !important;
      }
    }
  }

  .__cancel_btn {
    margin: 0 auto;

    .__button {
      margin-right: 15px;
    }
  }
}
