.timeSelectBox {
  color: red;
}

.showText {
  cursor: pointer;

  .icon {
    color: rgba(0, 0, 0, 0.25);
    margin-left: 4px;
    font-size: @font-size-sm;
  }

  &:hover {
    color: @primary-color;

    .icon {
      color: @primary-color;
    }
  }
}

.contentBox {
  padding: 10px 0;
  position: relative;

  .hour,
  .minute {
    header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .beijing {
        color: @text-color-secondary;
        font-size: @font-size-sm;
        position: relative;
        right: -8px;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(6, 58px);
      column-gap: 20px;
      row-gap: 10px;

      li {
        .numBtn {
          width: 58px;
          min-width: auto;
          border: 1px solid @divider-line-color;
          border-radius: @border-radius-base;
          text-align: center;
          padding: 2px 0;
          cursor: pointer;

          &:hover {
            border-color: @primary-color;
          }
        }

        .numBtn.active {
          border: 1px solid @primary-color;
          color: @primary-color;
        }
      }
    }
  }

  .minute {
    margin-top: 20px;
  }

  .btns {
    position: absolute;
    bottom: 10px;
    right: 0;

    button {
      margin-left: 10px;
    }

    button.okBtn.disable {
      background-color: #ccc;
      border-color: #ccc;
      cursor: not-allowed;
      color: #fff;
    }
  }
}
