.topHead {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 10px;
  align-items: center;

  strong {
    color: #444;
    font-size: @font-size-lg;
  }
}

.table {
  margin-top: 25px;

  :global(.ant-table-column-sorters) {
    padding: 0 !important;
  }

  :global(.ant-table-body) {
    border: 1px solid #e5e5e5;
    border-top: 0;
    overflow-y: auto !important;
  }

  tr:last-child td {
    border-bottom: 0 !important;
  }

  tr:hover td {
    background-color: @simple-table-header-bg !important;
  }

  th {
    height: 44px;
    padding: 0 !important;
    background-color: #f3f3f3 !important;
  }

  :global(.ant-table-expand-icon-col) {
    width: 88px;
  }

  :global(.ant-table-expanded-row) {
    > td {
      padding: 0 !important;
    }

    :global(.ant-table) {
      margin: 0 !important;
    }
  }

  td {
    height: 44px;
    padding: 0 !important;
  }
}

div.productCol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 10px 6px 20px;
  text-align: left;

  .details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .title {
    width: 255px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .linkIcon {
    color: @text-color-secondary;
    transition: all 0.3s;
    padding-right: 2px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .asin {
    width: 90px;
    flex: 0 0 auto;
    color: @btn-text-color;
    cursor: pointer;
  }

  .sku {
    width: 160px;
    flex: 0 0 auto;
    white-space: pre-wrap;
    word-break: initial;
    line-height: 14px;
  }

  &:hover {
    .linkIcon {
      color: @link-color;
    }
  }
}

.showCol {
  color: @btn-text-color;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;

  .arrow {
    margin-left: 6px;
    color: @border-color-base;
    transition: all 0.3s;
  }

  &:hover {
    color: @link-color;
  }
}

.showCol.active {
  color: @link-color;

  .arrow {
    color: @link-color;
    transform: rotate(180deg);
  }
}
