.login_register {
  :global {
    .__form_cover {
      margin-top: 14px;

      .ant-tabs-bar {
        margin-bottom: 30px;
      }

      .__email {
        .ant-input {
          padding: 5px 14px;
        }
      }

      .__password {
        .ant-input-password {
          padding: 5px 14px;
        }

        &.ant-form-item {
          margin-bottom: 0;
        }
      }

      .ant-form-item-explain {
        font-size: 12px;
      }

      .__remember_forgot {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-between;
        }
      }

      .ant-checkbox-wrapper {
        color: @text-color-disabled;
      }

      button {
        width: 100%;
      }
    }
  }
}
