.modalBox {
  :global(.ant-modal-body) {
    padding: 16px 20px 0;
    text-align: left;
  }

  :global(.ant-modal-footer) {
    border-top: 0;
    text-align: center;
  }
}

.topHead {
  height: 21px;
  line-height: 21px;
  color: @heading-color;
  font-weight: bold;
  font-size: @font-size-lg;
  margin-bottom: 16px;
}

.strikingText {
  color: @heading-color;
}

.details {
  display: flex;
  justify-content: space-between;

  :global {
    .h-async-default-icon,
    .h-default-icon {
      opacity: 1 !important;
    }
  }

  .item {
    display: flex;
  }

  .content {
    color: @heading-color;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .leftLayout {
    min-width: 290px;
  }

  .centerLayout {
    min-width: 380px;
  }

  .select {
    display: inline-flex;
    margin: 0;
    max-height: 22px;
    z-index: 1;
    // overflow: hidden;

    :global(.ant-form-item-control-input) {
      min-height: auto;
      height: 22px;
      line-height: 22px;
    }

    :global(.ant-select) {
      height: 22px;
      color: @heading-color !important;
    }

    :global(.ant-select-selector) {
      padding: 0 8px 0 0;
      height: 22px;
      border: none !important;
      box-shadow: none !important;
    }

    :global(.ant-select-selection-item) {
      line-height: initial;
    }

    :global(.ant-form-item-control-input-content) {
      height: 22px;
    }
  }

  .remark {
    display: flex;
  }
}

.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin: 20px 0 10px;

  .navItem {
    padding: 0 0 5px 0;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: @link-color;
    }
  }

  .navItem.active {
    color: @link-color;
    border-bottom: 1px solid @primary-color;
  }
}

//
.productTable,
.shipmentBox,
.logBox {
  :global(.ant-table-column-sorters) {
    padding: 0 !important;
  }

  :global(.ant-table-body) {
    border: 1px solid #e5e5e5;
    border-top: 0;
    overflow-y: auto !important;
  }

  tr:last-child td {
    border-bottom: 0 !important;
  }

  tr:hover td {
    background-color: @simple-table-header-bg !important;
  }

  th {
    height: 44px;
    line-height: 44px;
    background-color: #f3f3f3 !important;
  }

  th,
  td {
    padding: 0 !important;
  }

  tr:not(:first-child) td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}

// 商品明细
.productTable {
  .handleCol {
    color: @btn-text-color;
    cursor: pointer;
  }

  div.productCol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 50px 6px 0;
    text-align: left;

    .details {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }

    .title {
      width: 255px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .linkIcon {
      color: @text-color-secondary;
      transition: all 0.3s;
      padding-right: 2px;
    }

    footer {
      display: flex;
      justify-content: space-between;
    }

    .asin {
      width: 85px;
      flex: 0 0 auto;
      color: @btn-text-color;
    }

    .sku {
      width: 160px;
      flex: 0 0 auto;
      white-space: pre-wrap;
      word-break: initial;
      line-height: 14px;
    }

    &:hover {
      .linkIcon {
        color: @link-color;
      }
    }
  }

  .applyCol {
    .apply {
      color: @link-color;
      cursor: pointer;
    }
  }
}

.shipmentBox {
  .notData {
    padding: 50px 0;
    color: @text-color-secondary;
  }

  .dateCol {
    padding: 6px 0;
  }
}

.logBox {
  width: 753px;

  td {
    height: 44px;
  }
}

.btns {
  text-align: center;
  padding: 10px 0 20px;

  button {
    margin: 0 8px;
  }
}

// 打印样式
.printBox {
  table {
    width: 100%;
    margin: 0;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 20px 10px;
  }

  th {
    text-align: center;
  }
}
