.settings_box {
  background-color: #fff;
  border-radius: @border-radius-base;
  position: relative;

  ul:global(.ant-pagination) {
    padding: 10px 20px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  > header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .search {
      display: flex;

      button {
        margin: 0 10px;
      }
    }

    .downlist {
      .icon {
        color: #bfbfbf;
      }

      &:hover .icon {
        color: @primary-color;
      }
    }
  }

  // 表格
  > main {
    div:global(.ant-table-body) {
      overflow-y: auto !important;
    }

    :global(.ant-table-thead) th {
      height: 44px;
      line-height: 44px;
      padding: 0;
      background-color: #fafafa;
      border: none;
    }

    table {
      border: 1px solid #eee;
      border-bottom: 0;

      tr:hover td {
        background-color: #fafafa !important;
      }
    }

    td {
      border-bottom: 1px solid #eee;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    // 商品信息列
    .product_cols {
      display: flex;
      width: 100%;

      div.product_box {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .img {
        width: 46px;
        height: 46px;
        margin: 10px 10px 0 0;
        flex: 0 0 auto;
      }

      a.title {
        min-width: 100px;
        max-width: 398px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        font-size: @font-size-sm;
        text-align: left;
        margin-top: 10px;
        color: #0083ff;

        .icon {
          font-size: @font-size-sm;
          color: @text-color-secondary;
        }

        &:hover .icon {
          color: @link-color;
        }
      }

      .details {
        display: flex;
        justify-content: space-between;

        .asin {
          padding-right: 10px;
        }

        .rightInfo {
          display: flex;
          align-items: center;

          .price {
            color: @error-color;
          }

          .line {
            height: 12px;
            display: inline-block;
            margin: 1px 6px 0;
            border-right: 1px solid @border-color-base;
          }

          :global(.FBA) {
            color: @warning-color;
          }

          :global(.FBM) {
            color: @success-color;
          }
        }
      }
    }

    // 监听次数
    .monitor span {
      color: @text-color-secondary;
    }

    // 查看
    a.look {
      color: #09c2a6;

      &:hover {
        color: #009881;
      }
    }
  }

  :global(.ant-pagination) {
    border-top: 1px solid @divider-line-color;
  }
}
