.operatorBar_container {
  padding-top: 14px;
  padding-bottom: 12px;

  .__button {
    & + .__button {
      margin-left: 10px;
    }
  }
}

.all_buttons_font {
  font-size: 14px;
  color: @text-color;
}
